<footer class="footer-container">
  <div class="footer-content">
    <div class="social-container">
      <span> Conoce más de nosotros</span>

      <ul class="social-list">
        <a
          ZoomIn
          href="https://www.linkedin.com/company/aecode-ai/"
          target="_blank"
          ><img src="/assets/images/home/linkedin.svg" alt=""
        /></a>
        <a ZoomIn href="https://www.facebook.com/aecodeai" target="_blank"
          ><img src="/assets/images/home/facebook.svg" alt=""
        /></a>
        <a ZoomIn href="https://www.youtube.com/@aecode_ai" target="_blank"
          ><img src="/assets/images/home/youtube.svg" alt=""
        /></a>
        <a ZoomIn href="https://www.instagram.com/aecode.ai/" target="_blank"
          ><img src="/assets/images/home/instagram.svg" alt=""
        /></a>
        <a ZoomIn href="https://www.tiktok.com/@aecode.ai" target="_blank">
          <app-tiktok-icon />
        </a>
      </ul>
    </div>

    <ul class="footer-list">
      <a class="footer-item" href="mailto:contacto@aecode.ai">
        <app-message-icon />
        coordinador&#64;aecode.ai
      </a>
      <li class="footer-item">
        AECODE:Architects, Engineers & Constructors Collaborating for
        Development
      </li>
      <li class="footer-item">AECODE 2025 - All Rights reserved</li>
    </ul>
  </div>
</footer>
