<div class="container">
  <div class="content">
    <h1>PROXIMAMENTE</h1>
    <p class="text-1">
      Al igual que los mejores proyectos de ingeniería, la perfección toma
      tiempo.
    </p>
    <video
      class="login-video"
      autoplay
      muted
      loop
      src="/assets/images/login-view/robot-video.mp4"
    ></video>
    <p class="text-2">
      Por ahora, disfruta de esta experiencia en tu laptop o PC... porque las
      grandes ideas siempre necesitan una buena base.
    </p>
  </div>
</div>
