.admin-side-bar-container {
  width: 100%;
  max-width: 300px;
  padding: 43px 0 0 24px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  background-color: var(--purple-2);
}
