<header
  class="header-container {{ themeService.getMode() | async }}-header-container"
>
  <div class="box-shadow-effect"></div>

  <div class="header-wrapper">
    <div class="header-content">
      <a class="header-logo" ZoomIn href="/home">
        @if((themeService.getMode() | async) === 'dark') {
        <app-aecode-icon class="aecode-icon" />
        } @else {
        <img src="assets/images/aecode-logo.webp" alt="" />
        }
      </a>

      <ul class="header-list" [class.show-header-list]="showMobileMenu">
        @for(headerItem of headerItemsList; track headerItem) {
        <app-header-item
          [headerItem]="headerItem"
          [headerItemSelected]="headerItemSelected"
          (emitHeaderItemSelected)="setHeaderItemSelected($event)"
        />

        }
      </ul>

      @if(!isMobile && isUserLoggedIn) {
      <div class="separator"></div>
      } @if (isUserLoggedIn) {

      <div class="user-logged-buttons">
        <app-header-item
          [headerItem]="shopCartItem"
          [headerItemSelected]="headerItemSelected"
          (emitHeaderItemSelected)="setHeaderItemSelected($event)"
        />

        <app-notification-icon class="notification-icon" />

        <app-user-profile-button
          [isHomeView]="false"
          (sendIsUserLoggedIn)="isUserLoggedIn = $event"
        />
      </div>

      } @else {
      <button
        class="header-button"
        ZoomIn
        data-section="header-container"
        data-value="Acceder"
        (click)="openLoginForm.set(true)"
        [style.background-color]="headerItemSelected.colorCode"
      >
        Acceder
      </button>

      } @if (isMobile) {
      <app-burger-icon class="menu-button" (click)="toggleMenu()" />

      }
    </div>
  </div>
</header>

<app-login-form
  [hidden]="!openLoginForm()"
  (closeLoginForm)="openLoginForm.set($event)"
  (userLoggedIn)="isUserLoggedIn = $event"
/>
