.hover-animation {
  &:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
  }
}

.header-container {
  width: 100%;
  background-color: var(--gray-3);

  .header-content {
    width: clamp(300px, 100%, 1440px);
    padding: 11px 35px;
    margin-inline: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      img {
        height: 25px;
      }
    }

    .header-options {
      .dropdown-text {
        display: none;
      }

      .dropdown-button {
        display: none;
      }

      .header-list {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 91px;
        margin: 0;

        .header-item {
          font-size: 16px;
          font-family: "ruberoid-semibold";
          text-decoration: none;
          color: var(--purple-2);
        }

        .language-button {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          gap: 8px;
          font-family: "ruberoid-semibold";
          font-size: 15px;
          color: var(--purple-2);
          cursor: pointer;

          :nth-child(1) {
            display: flex;
            align-items: center;
          }
        }

        .user-logged {
          display: flex;
          flex-flow: row nowrap;
          gap: 20px;
          align-items: center;

          .separator {
            width: 1px;
            height: 44px;
            background: #8c9295;
          }

          .user-profile {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 15px;

            .user-profile-img {
              width: 44px;
              aspect-ratio: 1 / 1;
              border-radius: 50%;
              border: solid 1px var(--gray-1);
            }

            .profile-dropdown-button {
              color: var(--purple-2);
              text-align: center;
              font-size: 9px;
              font-weight: 450;
              cursor: pointer;
              user-select: none;
            }
          }
        }
      }
    }
  }
}

@media (width < 1000px) {
  .header-container {
    position: relative;

    .header-content {
      .header-options {
        .dropdown-button {
          &:checked + .dropdown-text + .header-list {
            display: flex;
          }
        }

        .dropdown-text {
          display: block;
        }

        .header-list {
          padding: 20px;
          display: none;
          flex-flow: column wrap;
          background-color: var(--gray-3);
          gap: 20px;
          position: absolute;
          top: 50%;
          right: 0%;
        }
      }
    }
  }
}
