.hover-animation {
  &:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
  }
}

.header-container {
  width: 100%;
  background-color: var(--gray-3);

  .header-content {
    width: clamp(300px, 100%, 1440px);
    padding: 11px 35px;
    margin-inline: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      img {
        height: 25px;
      }
    }

    .header-options {
      .dropdown-text {
        display: none;
      }

      .dropdown-button {
        display: none;
      }

      .header-list {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 91px;
        margin: 0;

        .header-item {
          font-size: 16px;
          font-family: "ruberoid-semibold";
          text-decoration: none;
          color: var(--purple-2);
        }
      }
    }
  }
}

@media (width < 1000px) {
  .header-container {
    position: relative;

    .header-content {
      .header-options {
        .dropdown-button {
          &:checked + .dropdown-text + .header-list {
            display: flex;
          }
        }

        .dropdown-text {
          display: block;
        }

        .header-list {
          padding: 20px;
          display: none;
          flex-flow: column wrap;
          background-color: var(--gray-3);
          gap: 20px;
          position: absolute;
          top: 50%;
          right: 0%;
        }
      }
    }
  }
}
