.header-container {
  width: 100%;
  background-color: var(--gray-3);
  position: fixed;
  top: 0;
  z-index: 3;

  .box-shadow-effect {
    width: 100%;
    height: 120%;
    opacity: 0.32;
    background: #4465ee;
    filter: blur(30px);
    position: absolute;
    top: 0;
  }

  .header-wrapper {
    width: 100%;
    background-color: var(--gray-3);
    position: relative;

    .header-content {
      width: clamp(375px, 100%, 1440px);
      padding: 11px 35px;
      margin-inline: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .header-logo {
        img {
          height: 25px;
        }
      }

      .header-options {
        .header-list {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          gap: 50px;
          margin: 0;
          padding: 0;
          list-style: none;

          .header-item {
            color: var(--purple-2);
            font-family: "ruberoid-medium";
            font-size: 20px;
            text-decoration: none;
            cursor: pointer;
          }

          .cart-icon {
            width: 25px;
            cursor: pointer;
            fill: var(--purple-2);
          }

          .notification-icon {
            width: 33px;
            cursor: pointer;
          }

          .separator {
            width: 1px;
            height: 44px;
            background: #8c9295;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    width: 100%;

    .box-shadow-effect {
      width: 100%;
      height: 120%;
      position: absolute;
      top: 0;
    }

    .header-wrapper {
      width: 100%;

      .header-content {
        padding: 15px;

        .header-logo {
          img {
            height: 15px;
          }
        }

        .header-options {
          .header-list {
            .user-logged {
              gap: 11px;

              .notification-icon {
                width: 17px;
              }

              .separator {
                height: 27px;
              }

              .user-profile {
                gap: 6px;

                .user-profile-img-container {
                  width: 20px;
                  height: 20px;
                }

                .profile-dropdown-button {
                  font-size: 9px;
                }
              }
            }
          }
        }
      }
    }
  }
}
