<div class="not-found-general-container">
  <app-home-header />

  <main class="not-found-content">
    <div class="not-found-details-container">
      <span class="status-code">404</span>
      <h1 class="not-found-title">Oops!, Page not Found</h1>
      <p class="not-found-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type
      </p>

      <button class="not-found-button">CONTÁCTATE CON NOSOTROS</button>
    </div>

    <div class="not-found-img-container">
      <img class="not-found-img" src="/assets/images/not-found.webp" alt="" />

      <div class="circle"></div>
    </div>
  </main>

  <app-home-footer />
</div>
