<app-course-overlay>
  <main class="program-details-container">
    <div class="buttons-container">
      <button class="button-back">
        <app-caret-left-icon class="caret-icon" /> Volver
      </button>
      <button class="button-my-courses">Mis cursos</button>
    </div>

    <h2>BIM PARA HOSPITALES</h2>
    <h4>Programa especializado</h4>
    <p>Aplicado a defensas ribereñas, diques, bocatomas, puentes y canales</p>

    <section class="program-bento-container">
      <app-program-modules />

      <aside class="program-extra-info-container">
        <app-program-extra-info />

        <app-program-schedules />

        <app-program-certificates />
      </aside>
    </section>
  </main>
</app-course-overlay>
