<app-course-overlay>
  @if(coursePurchasedData().seccourseId > 0) {
  <main class="program-details-container">
    <div class="buttons-container">
      <button class="button-back" (click)="goBack()">
        <app-caret-left-icon class="caret-icon" /> Volver
      </button>
      <button (click)="goToMyCourses()" class="button-my-courses">
        Mis cursos
      </button>
    </div>

    <h2>{{ coursePurchasedData().title }}</h2>
    <h4>{{ coursePurchasedData().module }}</h4>
    <p>{{ coursePurchasedData().description }}</p>

    <section class="program-bento-container">
      <app-program-modules
        [programModules]="coursePurchasedData().studyplans"
      />

      <aside class="program-extra-info-container">
        <app-program-extra-info
          [urlmaterialaccess]="coursePurchasedData().urlmaterialaccess"
          [whatsappGroupLink]="coursePurchasedData().whatsappGroupLink"
        />

        <app-program-schedules
          [schedules]="coursePurchasedData().schedules"
          [urljoinclass]="coursePurchasedData().urljoinclass"
        />

        <app-program-certificates
          [certificateUrls]="coursePurchasedData().certificateUrls"
        />
      </aside>
    </section>
  </main>
  } @else {

  <div class="loader-view">
    <app-loader />
  </div>
  }
</app-course-overlay>
