<div
  class="invest-container {{ themeService.getMode() | async }}-invest-container"
>
  @if (!isStep2) {
  <h3 class="invest-title">TOTAL A PAGAR</h3>
  }

  <div class="invest-content">
    <div class="investDetail">
      @if (isStep2) {
      <div class="invest-detail-title">
        <span> Resumen de compra: </span>
      </div>
      } @for (item of shopCartList(); track $index) {
      <div class="invest-item" [class.first-invest-item]="$index == 0">
        <span class="invest-item-title" [class.show-complete-title]="isStep2">
          {{ item.title }}
        </span>
        <span>
          {{ item.priceRegular }}
          $
        </span>
      </div>
      }

      <div class="invest-item subtotal-item">
        <span> Subtotal: </span>
        <span> {{ cardService.totalCartRegularPrice() }} $ </span>
      </div>

      <div class="invest-discount">
        <span> Descuento: </span>
        <span> {{ cardService.totalCartDiscount() }} $ </span>
      </div>
      @if (isStep2 && cardService.isPaypalMethod()) {
      <div class="invest-discount">
        <span> Cargo por transacción: </span>
        <span>
          {{ cardService.taxValue() }}
          $
        </span>
      </div>
      }

      <div class="invest-item total-item">
        <span> Total: </span>
        <span
          >@if (!isStep2){ {{ cardService.totalWithoutTax() }} } @else {
          @if(cardService.isPaypalMethod()){
          {{ cardService.totalAmountWithTax().toFixed(2) }}

          }@else{
          {{ cardService.totalWithoutTax() }}

          } } $
        </span>
      </div>
    </div>

    @if (!isStep2) {
    <button
      class="invest-button"
      (click)="goToPay()"
      [class.isDisabled]="cardService.totalWithoutTax() > 0 ? false : true"
    >
      <app-shopping-cart-icon class="shop-cart-icon" /> PAGAR
    </button>

    <span class="invest-question">PROMOCIONES</span>

    <p class="invest-description">
      Si tienes un cupón de descuento coloca aquí para validar
    </p>

    <div class="invest-input-container">
      <input
        class="invest-input"
        placeholder="Introducir el cupón"
        type="text"
      />
      <button class="invest-apply-button">Aplicar</button>
    </div>

    <a
      class="invest-whatsapp-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=+51900121245&text={{
        wsspMessage
      }}"
    >
      Consultar con un asesor
      <div class="whatsapp-button">
        <img src="assets\images\whatsapp-icon.png" alt="" />
      </div>
    </a>
    }
  </div>

  @if (isStep2) {
  <div class="invest-message-reminder">
    <p>
      Cobraremos $ @if(cardService.isPaypalMethod()){
      {{ cardService.totalAmountWithTax().toFixed(2) }}

      }@else {
      {{ cardService.totalWithoutTax() }}
      } en tu tarjeta
    </p>

    @if(cardService.isPaypalMethod()){
    <p>Se aplicara un cargo extra por la transacción</p>

    }
  </div>
  }
</div>
