<div
  class="invest-container {{ themeService.getMode() | async }}-invest-container"
>
  <h3 class="invest-title">TOTAL A PAGAR</h3>

  <div class="invest-content">
    <div class="investDetail">
      @for (item of shopCartList(); track $index) {
      <div class="invest-item">
        <span class="invest-item-title"> {{ item.title }}: </span>
        @if(item.isOnSale) {
        <span> {{ item.promptPaymentPrice }} $ </span>

        }@else {
        <span> {{ item.priceRegular }} $ </span>

        }
      </div>
      }

      <div class="invest-item">
        <span> Total: </span>
        <span> {{ totalCartRegularPrice() - totalCartReducePrice() }} $ </span>
      </div>

      <div class="invest-discount">
        <span> Descuento: </span>
        <span> {{ totalCartReducePrice() }} $ </span>
      </div>
    </div>

    <button class="invest-button" (click)="goToPay()">
      <app-shopping-cart-icon class="shop-cart-icon" /> PAGAR
    </button>

    <span class="invest-question">PROMOCIONES</span>

    <p class="invest-description">
      Si tienes un cupón de descuento coloca aquí para validar
    </p>

    <div class="invest-input-container">
      <input
        class="invest-input"
        placeholder="Introducir el cupón"
        type="text"
      />
      <button class="invest-apply-button">Aplicar</button>
    </div>

    <a
      class="invest-whatsapp-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=+51900121245&text=Quiero contactar con un asesor para mas información del modulo ."
    >
      Consultar con un asesor
      <div class="whatsapp-button">
        <img src="assets\images\whatsapp-icon.png" alt="" />
      </div>
    </a>
  </div>
</div>
