.course-tag {
  width: fit-content;
  color: #381187;
  font-family: "ruberoid-regular";
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #381187;
  background: #eef3f8;
  cursor: pointer;
  user-select: none;
}

.dark-course-tag {
  color: #eef3f8;
  border-radius: 30px;
  border: 1px solid #8c97dc;
  background: #100d46;
}

.course-tag-selected {
  color: #eef3f8;
  border: 1px solid#381187;
  background: #381187;
}

.dark-course-tag-selected {
  border: 1px solid, #381187;
  background: #4a3ac1;
}
