<div class="course-platform-list-container">
  <div class="shadow-effect"></div>

  <div class="coure-platform-list-content">
    <app-course-item [isPlatformCourse]="true" />
    <app-course-item [isPlatformCourse]="true" />
  </div>

  <button ZoomIn class="get-free-button" (click)="showFreeContentForm = true">
    <app-gift-icon /> GET FREE LEARNING MATERIALS
  </button>
</div>

<app-modal
  [isOpen]="showFreeContentForm"
  (isClosed)="showFreeContentForm = $event"
>
  <app-get-free-content-form (isClosed)="showFreeContentForm = $event" />
</app-modal>
