<div class="course-platform-list-container">
  <div class="shadow-effect" hidden></div>

  <div class="masive-course-list-containaer">
    @if (masiveCourseList$ | async; as masiveCourseList) {
    <div class="course-platform-list-content">
      @for (masiveCourseItem of masiveCourseList; track masiveCourseItem) {
      <app-course-item
        [courseId]="masiveCourseItem.courseId"
        [isMasiveCourse]="true"
      />

      }
    </div>

    } @else {
    <app-loader />
    }
  </div>
</div>
