<div class="question-container">
  <div class="question-header">
    <h2>Pregunta</h2>
  </div>

  <hr class="separator" />

  <div class="question-body">
    <p>
      ¿Cómo impactan tecnologías emergentes como la inteligencia artificial, el
      Internet de las cosas y la automatización en la optimización de procesos
      industriales en el contexto de la Ingeniería 4.0?
    </p>
    <form>
      <label class="option">
        <input type="checkbox" name="answer" value="option1" />
        Mejoran la eficiencia operativa mediante la reducción de errores humanos
        y en tiempo real.
      </label>

      <label class="option">
        <input type="checkbox" name="answer" value="option2" />
        Solo aumentan los costos de implementación sin ofrecer mejoras
        significativas.
      </label>

      <label class="option">
        <input type="checkbox" name="answer" value="option3" />
        Limitan la colaboración entre equipos humanos y sistemas automatizados.
      </label>

      <label class="option">
        <input type="checkbox" name="answer" value="option4" />
        No tienen impacto relevante en la industria actual.
      </label>
    </form>
  </div>

  <hr class="separator" />

  <div class="question-footer">
    <button class="skip-btn" (click)="closeModal()">Omitir</button>
    <button class="submit-btn">Enviar</button>
  </div>
</div>
