@if (courseSessionTestObject) {
<div class="question-container">
  <div class="question-header">
    <h2>Pregunta</h2>
  </div>

  <hr class="separator" />

  <div class="question-body">
    <p>
      {{ courseSessionTestObject.questionText }}
    </p>
    <form>
      @for (question of courseSessionTestObject.sessionanswers; track
      question.testId) {
      <label class="option">
        <input
          type="radio"
          name="selectedAnswer"
          [value]="question"
          [(ngModel)]="selectedQuestion"
        />
        {{ question.answerText }}
      </label>
      }
    </form>
  </div>

  <hr class="separator" />

  <div class="question-footer">
    <button class="skip-btn" (click)="closeModal()">Omitir</button>
    <button class="submit-btn" (click)="submitAnswer()">Enviar</button>
  </div>
</div>

}
