<form [formGroup]="isSignInForm ? signInForm : loginForm" class="login-form">
  <span class="start-title">Comencemos</span>
  @if (isSignInForm) {
  <span class="start-subtitle">Crea una cuenta con:</span>

  } @else {
  <span class="start-subtitle">Inicia sesión con:</span>

  } @if (isSignInForm) {
  <div class="form-control">
    <input
      formControlName="fullname"
      id="fullname"
      type="text"
      placeholder="johnson Rojas"
    />
    <label for="fullname" class="label">Nombre completo</label>
  </div>
  }

  <div class="form-control">
    <input
      formControlName="email"
      id="email"
      type="email"
      placeholder="johnsondoe@nomail.com"
    />
    <label for="email" class="label">Correo</label>
  </div>

  <div class="form-control">
    <input
      formControlName="passwordHash"
      id="passwordHash"
      type="text"
      placeholder="********"
    />
    <label for="passwordHash" class="label">Contraseña</label>
  </div>

  @if (isSignInForm) {
  <div class="form-control">
    <input id="passwordHashConfirm" type="text" placeholder="********" />
    <label for="passwordHashConfirm" class="label">Confirmar</label>
  </div>
  }

  <app-button (click)="isSignInForm ? createUser() : logInUser()">
    @if(isSignInForm){CREAR} @else {ACCEDER}
  </app-button>

  @if (isSignInForm) {
  <span class="login-text"
    >¿Ya tienes una cuenta?
    <span (click)="logIn()">INICIAR SESION AQUI</span></span
  >
  } @else {
  <span class="login-text"
    >¿No tienes una cuenta?
    <span (click)="signIn()">CREAR UNA CUENTA AQUI</span></span
  >

  }

  <span class="terms-text"
    >Al crear una cuenta en AECODE, aceptas los
    <span>Términos de Servicio y Políticas de Privacidad</span></span
  >
</form>
<div class="background-overlay" (click)="closeModal()"></div>
