<div class="course-aside-container">
  <button
    class="aside-dropdown-button"
    (click)="showAsideList = !showAsideList"
  >
    @if(showAsideList) {
    <span>OCULTAR</span>
    <app-caret-down-icon-light />

    } @else {
    <span>VER</span>
    <app-caret-up-icon-light />
    }
  </button>
</div>

@if(showAsideList) {
<div class="course-aside-list">
  <button ZoomIn class class="aside-dropdown-item">
    <app-inicio-icon />
    <span>Inicio</span>
  </button>

  <button ZoomIn class="conocenos-button">
    <app-plus-icon />
    <span>Conócenos</span>
  </button>

  <button class="theme-button">
    <div
      ZoomIn
      class="theme-option"
      [class.theme-selected]="!isDarkTheme"
      (click)="isDarkTheme = false"
    >
      <app-sun-icon />
      <span>Light</span>
    </div>

    <div
      ZoomIn
      class="theme-option"
      [class.theme-selected]="isDarkTheme"
      (click)="isDarkTheme = true"
    >
      <app-moon-icon />
      <span>Dark</span>
    </div>
  </button>
</div>
}
