<div class="course-aside-container">
  <div
    class="course-aside-content"
    [class.course-aside-content-collapsed]="!showAsideList"
  >
    <button
      class="aside-dropdown-button"
      [class.aside-dropdown-buttom-collapsed]="!showAsideList"
      (click)="showAsideList = !showAsideList"
    >
      @if(showAsideList) {
      <span>OCULTAR</span>
      <app-caret-down-icon-light />

      } @else {
      <span>VER</span>
      <app-caret-up-icon-light />
      }
    </button>

    @if(showAsideList) {
    <div class="course-aside-list">
      <button
        ZoomIn
        [class.item-selected]="itemSelected == 0"
        class="aside-dropdown-item"
        (click)="goToCourseList(); selectItem(0)"
      >
        <app-inicio-icon />
        <span>Inicio</span>
      </button>

      <button
        ZoomIn
        [class.item-selected]="itemSelected == 1"
        class="aside-dropdown-item mobile-item"
        (click)="goToProfileView(); selectItem(1)"
      >
        <app-profile-icon />
        <span>Perfil</span>
      </button>

      <a
        ZoomIn
        class="aside-dropdown-item mobile-order-shaman"
        href="https://shamanai.aecode.ai/"
        target="_blank"
      >
        <app-shaman-icon />
        <span>Shaman</span>
      </a>

      <a
        href="https://www.canva.com/design/DAGbXMYH3Qo/Njl9uZGdNjfleEX8Jt2lpQ/view?utm_content=DAGbXMYH3Qo&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hc8bb83ae0a"
        target="_blank"
        ZoomIn
        class="conocenos-button mobile-order-about-us"
      >
        <app-plus-icon />
        <span>Conócenos</span>
      </a>

      <button class="theme-button">
        <div
          ZoomIn
          class="theme-option"
          [class.theme-selected]="!isDarkTheme"
          (click)="isDarkTheme = false"
        >
          <app-sun-icon />
          <span>Light</span>
        </div>

        <div
          ZoomIn
          class="theme-option"
          [class.theme-selected]="isDarkTheme"
          (click)="isDarkTheme = true"
        >
          <app-moon-icon />
          <span>Dark</span>
        </div>
      </button>
    </div>
    }
  </div>
</div>
