.shop-cart-navigator-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-block-end: 60px;
  cursor: pointer;
  user-select: none;

  .shop-cart-step-box {
    width: 100%;
    color: #b4bbbf;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 25px;
    font-family: "ruberoid-medium";

    .shop-cart-step {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 1px solid #b4bbbf;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    .shop-cart-title {
      display: flex;
      flex-direction: row;
      gap: 10px;
      border-bottom: solid 1px #b4bbbf;
      width: 100%;
      height: 100%;
      align-items: center;

      .shop-cart-icon {
        width: 25px;
        height: 25px;
        fill: #b4bbbf;
      }
    }
  }

  .shop-cart-selected {
    color: #381187;

    .shop-cart-step {
      border: none;
      background-color: #381187;
      color: white;
    }

    .shop-cart-title {
      border-bottom: solid 1px #381187;

      .shop-cart-icon {
        fill: #381187;
      }
    }
  }
}
