.dropdown-content {
  width: 195px;
  position: absolute;
  top: 100%;
  right: 0;
  font-family: "ruberoid-medium";
  font-size: 14px;
  border: 1px solid #cad5da;
  border-bottom: none;
  border-radius: 4px;
  background-color: white;
  z-index: 2;

  .dropdown-item {
    padding: 13px 20px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #cad5da;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    fill: black;
    cursor: pointer;
  }

  .async-icon {
    stroke: black;
    stroke-width: 1;
  }
}

.dark-dropdown-content {
  background-color: #0d0f1f;
  box-shadow: 0px 0px 6px 0 #b4bbbf;

  .dropdown-item {
    border-bottom: 1px solid #8c97dc;
    fill: var(--gray-3);
  }

  .async-icon {
    stroke: var(--gray-3);
  }
}
