<div class="footer-container">
  <div class="social-media-container first">
    <a
      class="social-media-logo whatsapp hover-button"
      target="_blank"
      href="https://wa.me/+51900121245"
    >
      <app-whatsapp-icon />
    </a>
    <a
      class="social-media-logo instagram hover-button"
      target="_blank"
      href="https://www.instagram.com/aecode.ai/"
    >
      <app-instagram-icon />
    </a>
    <a
      class="social-media-logo linkedin hover-button"
      target="_blank"
      href="https://www.linkedin.com/company/aecode-ai/"
    >
      <app-linkedin-icon />
    </a>
  </div>

  <div class="buttons-container">
    <a
      class="home-button hover-button"
      href="http://shamanai.aecode.ai/"
      target="_blank"
      >CHARACTERS</a
    >
    <button class="home-button hover-button" (click)="openModal()">
      START
    </button>
    <a
      class="home-button hover-button"
      href="https://aecode.ai/aecode-programas.html"
      target="_blank"
      >POWER UP</a
    >
  </div>

  <div class="social-media-container second">
    <a
      class="social-media-logo facebook hover-button"
      target="_blank"
      href="https://www.facebook.com/aeccode"
    >
      <app-facebook-icon />
    </a>
    <a
      class="social-media-logo youtube hover-button"
      target="_blank"
      href="https://www.youtube.com/@aecode_ai"
    >
      <app-youtube-icon />
    </a>
    <a
      class="social-media-logo tiktok hover-button"
      target="_blank"
      href="https://www.tiktok.com/@aecode.ai"
    >
      <app-tiktok-icon />
    </a>
  </div>

  <div class="social-media-container-mobile">
    <div class="social-media-container third">
      <a
        class="social-media-logo whatsapp"
        target="_blank"
        href="https://wa.me/+51900121245"
      >
        <app-whatsapp-icon />
      </a>
      <a
        class="social-media-logo instagram"
        target="_blank"
        href="https://www.instagram.com/aecode.ai/"
      >
        <app-instagram-icon />
      </a>
      <a
        class="social-media-logo linkedin"
        target="_blank"
        href="https://www.linkedin.com/company/aecode-ai/"
      >
        <app-linkedin-icon />
      </a>
    </div>
    <div class="social-media-container fourth">
      <a
        class="social-media-logo facebook"
        target="_blank"
        href="https://www.facebook.com/aeccode"
      >
        <app-facebook-icon />
      </a>
      <a
        class="social-media-logo youtube"
        target="_blank"
        href="https://www.youtube.com/@aecode_ai"
      >
        <app-youtube-icon />
      </a>
      <a
        class="social-media-logo tiktok"
        target="_blank"
        href="https://www.tiktok.com/@aecode.ai"
      >
        <app-tiktok-icon />
      </a>
    </div>
  </div>
</div>
