<div class="profile-container">
  @if (userDetails$ | async; as userData) {
  <div class="bento-box">
    <form class="row-1" [formGroup]="userDataForm">
      <div class="profile-img">
        @if(profileImgUrl != '') {
        <img [src]="profileImgUrl" alt="" />

        }
        <label for="profilepicture" class="change-prof-img-button">
          <app-camera-icon />
        </label>
        <input
          hidden
          id="profilepicture"
          type="file"
          accept="image/*"
          (change)="showProfileImg($event)"
        />
      </div>

      <div class="profile-data">
        <h1>Tus datos</h1>

        <div class="data-container">
          <div class="data-item">
            <label for="fullname">Nombres</label>
            <input formControlName="fullname" type="text" id="fullname" />
          </div>
          <div class="data-item">
            <label for="email">Correo</label>
            <input formControlName="email" type="text" id="email" />
          </div>
          <div class="data-item">
            <label for="phone">Teléfono</label>
            <input
              type="text"
              id="phone"
              formControlName="phoneNumber"
              placeholder="+51 000 000 000"
            />
          </div>
          <div class="data-item">
            <label for="genre">Género</label>

            <div class="radio-container">
              <label>
                <input
                  formControlName="gender"
                  name="gender"
                  type="radio"
                  id="masculino"
                  value="masculino"
                />
                <label for="masculino">Masculino</label>
              </label>
              <label>
                <input
                  formControlName="gender"
                  name="gender"
                  type="radio"
                  id="femenino"
                  value="femenino"
                />
                <label for="femenino">Femenino</label>
              </label>
            </div>
          </div>
          <div class="data-item">
            <label for="dob">Cumpleaños</label>
            <input
              formControlName="birthdate"
              type="date"
              id="dob"
              placeholder="dd/mm/aaaa"
            />
          </div>
          <div class="data-item">
            <label>Experiencia</label>

            <div class="radio-container">
              <label>
                <input
                  formControlName="experience"
                  name="experience"
                  type="radio"
                  id="yes"
                  value="yes"
                />
                <label for="yes">Sí</label>
              </label>
              <label>
                <input
                  formControlName="experience"
                  name="experience"
                  type="radio"
                  id="no"
                  value="no"
                />
                <label for="no">No</label>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row-2">
      <div class="box-1">
        <h1>Cambiar contraseña</h1>

        <div class="data-item">
          <label>Contraseña</label>
          <input type="text" placeholder="*********" id="passwordHash" />
        </div>
        <div class="data-item">
          <label>Confirmar Contraseña</label>
          <input type="text" placeholder="*********" id="confirmPasswordHash" />
        </div>
        <button (click)="sendUserData()">Actualizar</button>
      </div>

      <div class="box-2"></div>
    </div>
  </div>
  } @else {
  <h1>Loading...</h1>
  }
</div>
