<div
  class="payment-methods-content {{
    themeService.getMode() | async
  }}-payment-methods-content"
>
  <p class="payment-title">PAGAR CON YAPE O PLIN</p>

  <p>
    Escanea el código QR con tu app de Yape/Plin y realiza el pago al instante.
  </p>

  <div class="payment-qr">
    <img
      src="{{
        (themeService.getMode() | async) === 'dark'
          ? '/assets/images/payment/qr-method-dark.webp'
          : '/assets/images/payment/qr-method.webp'
      }}"
      alt=""
    />
  </div>

  <app-shop-cart-whatsapp-button />
</div>
