.course-unit-container {
  user-select: none;
  border-bottom: 1px solid #cad5da;
  border-top: 1px solid #cad5da;
  border-radius: 6px;

  .course-unit-title {
    padding: 8px 13px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid #cad5da;
    background-color: #eff9fe;
    font-size: 16px;
    font-family: "ruberoid-semibold";
    cursor: pointer;

    .course-unit {
      width: 80%;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .course-text {
        font-family: "ruberoid-medium";
      }
    }
  }

  .course-unit-title-dropdown {
    border-radius: 6px;
    border-bottom: 0px;
  }

  .course-item-list {
    width: 100%;
    padding: 10px 13px;
    margin: 0;

    .course-unit-test {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 4px;
      border: 1px solid var(--purple-2);
      border-radius: 6px;
      color: var(--purple-2);
      cursor: pointer;

      span {
        font-size: 14px;
        font-family: "plusjakartasans-semibold";
      }

      .module-item-checkbox {
        border-radius: 2px;
        border: 2px solid var(--purple-2);
        width: 17px;
        height: 17px;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        position: relative;

        .module-item-icon {
          width: 12.189px;
          height: 9.302px;
          flex-shrink: 0;
          position: absolute;
          top: -25%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
