<div class="course-unit-container">
  <div
    (click)="onClick()"
    class="course-unit-title"
    [ngClass]="{ 'course-unit-title-dropdown': !showItems }"
  >
    <span class="course-unit"
      >MÓDULO {{ module.orderNumber }}:
      <span class="course-text">
        {{ module.title }}
      </span></span
    >

    @if (showItems) {
    <app-caret-up-icon />
    } @else {
    <app-caret-down-icon />
    }
  </div>

  <ul class="course-item-list" [hidden]="!showItems">
    @for (unit of module.units; track unit.unitId) {
    <app-course-unit [unit]="unit" />
    }

    <div (click)="evaluation()" class="course-unit-test">
      @if (module.relatedworks === null) {
      <app-padlock-icon />
      } @if (module.moduleId === 1) { <span>PREGUNTAS INTRODUCTORIAS</span> }
      @else {
      <span>EVALUA LO APRENDIDO - TEST U{{ module.moduleId - 1 }}</span>
      }
    </div>
  </ul>
</div>

<app-modal
  *ngIf="module.relatedworks?.formUrl"
  [isOpen]="showEvaluation"
  (isClosed)="showEvaluation = $event"
>
  <app-test [ev_url]="module.relatedworks.formUrl" />
</app-modal>
