<div class="terms-container">
  <div class="term-item">
    <p class="term-title">1. Uso del Servicio</p>
    <p class="term-description">
      El contenido de los cursos es de uso personal y exclusivo del usuario
      inscrito. Está protegido por derechos de autor y no puede ser compartido,
      distribuido ni revendido.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">2. Inscripciones y Pagos</p>
    <p class="term-description">
      Los pagos se procesan mediante pasarelas seguras. La inscripción se
      considera efectiva una vez confirmado el pago.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">3. Reembolsos</p>
    <p class="term-description">
      Una vez iniciadas las clases o entregado el acceso a material grabado, no
      se realizan devoluciones, y es solo si se ha incumplido uno de las
      condiciones del curso adquirido.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">4. Acceso al Contenido</p>
    <p class="term-description">
      El acceso a clases grabadas y recursos está disponible durante el tiempo
      establecido en las indicaciones al inscribirte a cada curso. La extensión
      del acceso puede requerir renovación.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">5. Uso indebido o fraudulento</p>
    <p class="term-description">
      Nos reservamos el derecho de suspender o restringir el acceso a cualquier
      usuario que incurra en:
    </p>

    <ul>
      <li>Uso no autorizado o compartido del contenido</li>
      <li>Uso no autorizado o compartido de la cuenta</li>
      <li>Intentos de manipulación técnica de la plataforma</li>
      <li>Suplantación de identidad o uso de datos falsos</li>
      <li>
        Cualquier otra acción que atente contra la integridad del sistema o los
        derechos de otros usuarios
      </li>
    </ul>
  </div>
</div>
