.course-list-container {
  width: 100%;
  max-width: 1116px;
  min-height: 493px;
  padding: 30px 24px;
  border-radius: 6px;
  border: 1px solid rgba(153, 163, 168, 0.3);
  box-shadow: 0px 0px 6.2px 5px rgba(180, 187, 191, 0.3);

  .course-list-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 0 25px 0;
    color: var(--purple-2);
    font-family: "ruberoid-semibold";
    font-size: 20px;

    .see-all-button {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .course-list-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .course-list-container {
    padding: 20px 16px;

    .course-list-title {
      font-size: 14px;
      align-items: center;

      .see-all-button {
        cursor: pointer;
        text-decoration: underline;
        font-size: 16px;
        text-wrap: nowrap;
      }
    }

    .course-list-content {
      display: flex;
      flex-flow: row nowrap;
      gap: 5px;
      overflow-x: scroll;
    }
  }
}
