.shop-cart-products-container {
  background: #eef3f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 18px;
  border-radius: 6px;
  border: 2px solid rgb(51, 163, 220, 0.3);
  box-shadow: 0px 0px 6.2px 5px rgb(180, 187, 191, 0.3);
}
