<article
  class="shop-cart-products-container {{
    themeService.getMode() | async
  }}-shop-cart-products-container "
>
  <div class="shop-cart-products-content">
    <!-- <h2 class="shop-cart-item-subtitle" (click)="dropdown = !dropdown">
      PROGRAMA: PYTHON APLICADO A LA INGENIERÍA CIVIL @if(dropdown) {
      <app-caret-down-icon-light />
      }@else {
      <app-caret-up-icon-light />
      }
    </h2> -->

    @if(dropdown) {
    <div class="shop-cart-item-content">
      @if (itemList().length > 0) { @for (cartItem of itemList() ; track $index)
      {
      <app-shop-cart-item
        [cartItem]="cartItem"
        (itemSelected)="emitItemSelected($event)"
      />

      } } @else {
      <h1 class="shop-cart-no-items">
        ¡Oops! No tienes módulos en tu carrito.
      </h1>
      }
    </div>
    }
  </div>
</article>
