.shop-cart-products-container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  border: 2px solid rgb(51, 163, 220, 0.3);
  box-shadow: 0px 0px 6.2px 5px rgb(180, 187, 191, 0.3);
  padding: 20px;
  height: 100%;

  .shop-cart-products-content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    flex-direction: column;

    .shop-cart-item-subtitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: var(--purple-2);
      font-family: "plusjakartasans-semibold";
      font-size: 24px;
      padding: 20px;
      margin: 0;
      border-radius: 6px;
      border: 1px solid white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
      background: #eef3f8;
      user-select: none;
      cursor: pointer;
    }

    .shop-cart-item-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 40px 36px;
      background: #eef3f8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
      user-select: none;
    }

    .shop-cart-no-items {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Ruberoid-Regular";
      font-size: 30px;
    }
  }
}

.dark-shop-cart-products-container {
  border-radius: 6px;
  border: 4px solid rgba(140, 151, 220, 0.3);

  .shop-cart-products-content {
    border: 1px solid #7c7edf;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);

    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background-color: #1c1d3c;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7c7edf;
      border-radius: 10px;
      box-shadow: inset 0 0 0 4px #1c1d3c; // <- "simula" borde interno del thumb
    }

    .shop-cart-item-content {
      background-color: transparent;
    }

    .shop-cart-no-items {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Ruberoid-Regular";
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .shop-cart-products-container {
    .shop-cart-products-content {
      height: 700px;

      .shop-cart-item-subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--purple-2);
        font-family: "plusjakartasans-semibold";
        font-size: 24px;
        padding: 20px;
        margin: 0;
        border-radius: 6px;
        border: 1px solid white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
        background: #eef3f8;
        user-select: none;
        cursor: pointer;
      }

      .shop-cart-item-content {
        min-height: 665px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px 36px;
        background: #eef3f8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
        margin-top: 18px;
        user-select: none;
      }

      .shop-cart-no-items {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Ruberoid-Regular";
        font-size: 30px;
      }
    }
  }
}
