@keyframes slideIn {
  from {
    transform: translateX(+100%);
  }
  to {
    transform: translateX(0);
  }
}

.login-form {
  width: 500px;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  border: 1px solid white;
  background: white;
  border-radius: 10px 0 0 10px;
  position: fixed;
  right: 0;
  z-index: 2;
  font-family: "plusjakartasans-medium";
  animation: slideIn 0.5s ease-in-out forwards;

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .start-title {
    font-size: 13px;
    text-transform: uppercase;
  }

  .start-subtitle {
    font-size: 20px;
    font-family: "ruberoid-medium";
  }

  .form-control {
    width: 380px;
    height: 56px;
    border-radius: 8px;
    position: relative;

    .label {
      height: 20px;
      padding: 0px 12px;
      background-color: white;
      color: #bdbdbd;
      text-align: center;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 22.53px;
      position: absolute;
      top: -19%;
      left: 5%;
    }

    input {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      border: 1px solid #bdbdbd;
      font-family: "plusjakartasans-medium";
      font-size: 16px;
      padding-left: 16px;

      &:focus {
        outline: none;
        border: 2px solid #424242;
      }

      &:focus + .label {
        color: #424242;
      }

      &::placeholder {
        color: #bdbdbd;
        font-family: "plusjakartasans-light";
      }
    }

    img {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 0;
    }
  }

  .login-text {
    text-align: center;
    font-size: 13px;

    span {
      color: black;
      font-family: "plusjakartasans-extrabold";
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .terms-text {
    text-align: center;
    font-size: 13px;
    padding-inline: 27px;

    span {
      font-family: "plusjakartasans-bold";
      color: var(--purple-2);
      cursor: pointer;
    }
  }
}

.background-overlay {
  width: 100%;
  height: 100dvh;
  position: fixed;
  background-color: black;
  opacity: 0.69;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 100%;
    height: 100%;
    padding: 30px;
    gap: 25px;
    border-radius: 6px;
    animation: slideIn 0.5s ease-in-out forwards;

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .start-title {
      font-size: 12px;
    }

    .start-subtitle {
      font-size: 18px;
    }

    .form-control {
      width: 100%;
      height: 46px;

      .label {
        height: 18px;
        padding: 0px 8px;
        top: -30%;
        left: 3%;
      }

      input {
        font-size: 10px;
        padding-left: 13px;

        &:focus {
          border: 1px solid #424242;
        }
      }
    }

    .login-text {
      font-size: 12px;
    }

    .terms-text {
      font-size: 12px;
      padding-inline: 0;
    }
  }

  .background-overlay {
    width: 100%;
    height: 100dvh;
    position: fixed;
    background-color: black;
    opacity: 0.69;
    z-index: 1;
  }
}
