<div class="course-unit-container">
  <div
    (click)="showItems = !showItems"
    class="course-unit-title"
    [ngClass]="{ 'course-unit-title-dropdown': !showItems }"
  >
    <span class="course-unit"
      >MÓDULO {{ module.moduleId - 1 }}:
      <span class="course-text">
        {{ module.title }}
      </span></span
    >

    @if (showItems) {
    <app-caret-up-icon />
    } @else {
    <app-caret-down-icon />
    }
  </div>

  <ul class="course-item-list" [hidden]="!showItems">
    @for (class of module.classes; track class.classId) {
    <label
      for="{{ class.classId }}"
      class="course-item"
      (click)="selectUnitVideo(class.videoUrl)"
    >
      @if (module.moduleId === 1) {
      <input
        class="course-item-checkbox"
        type="checkbox"
        id="{{ class.classId }}"
      />
      } @else {
      <app-padlock-icon />
      }

      <span>
        <!-- {{ module.moduleId }}.{{ class.orderNumber }}.  -->
        {{ class.title }}
      </span>
      <span> <span>•</span> {{ class.durationMinutes }} min</span>
    </label>
    }

    <div class="course-unit-test">
      <app-padlock-icon />
      @if (module.moduleId === 1) { <span>TRABAJO INTRODUCTORIO</span> } @else {
      <span>EVALUA LO APRENDIDO - TEST U{{ module.moduleId - 1 }}</span>

      }
    </div>
  </ul>
</div>

<app-modal [isOpen]="showBlockedModal" (isClosed)="showBlockedModal = $event">
  <app-content-blocked (isClosed)="showBlockedModal = $event" />
</app-modal>
