.course-item {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  .course-item-checkbox {
    border-radius: 2px;
    border: 2px solid var(--purple-2);
    width: 17px;
    height: 17px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    position: relative;

    .course-item-icon {
      width: 12.189px;
      height: 9.302px;
      flex-shrink: 0;
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .checked {
    background-color: var(--purple-2);
  }

  span {
    font-size: 14px;
    font-family: "plusjakartasans-medium";
  }

  .unit-caret {
    width: 15px;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .course-item {
    margin-bottom: 0;

    .course-item-checkbox {
      flex-shrink: 0;

      .course-item-icon {
        top: -10%;
      }
    }

    span {
      font-size: 14px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .unit-caret {
      width: 12px;
      flex-shrink: 0;
    }
  }

  .course-item-sessions {
    margin-block: 14px 0px;
    display: flex;
    flex-flow: column nowrap;
    gap: 14px;
  }
}
