<div
  class="course-item-container {{
    themeService.getMode() | async
  }}-course-item-container"
  [class.platform-course-item-container]="isMasiveCourse"
  (click)="showCourseDetails()"
>
  <div
    class="course-item-mode"
    customCourseButton
    [mode]="course.mode"
    [courseId]="course.courseId"
  >
    @if(isMasiveCourse) {
    <app-sync-course-icon class="icon" />
    EN VIVO}@else { @switch (course.mode) { @case ('SINCRONO') {
    <app-coming-soon-course-icon class="icon" />
    PRÓXIMOS } @case ('EN_VIVO') {
    <app-sync-course-icon class="icon" />
    EN VIVO } @case ('ASINCRONO') {
    <app-async-course-icon class="icon async-icon" />
    ASINCRÓNICOS } } }
  </div>

  @if (course.isOnSale && course.discountPercentage > 0) {
  <div class="course-off-mode">
    <app-offerbg-icon class="icon" />
    <span>{{ course.discountPercentage }}% OFF</span>
  </div>
  }

  <div class="course-presentation-container">
    <img class="course-img" src="{{ course.principalimage }}" alt="" />

    <div class="course-tags">
      @if (!isMasiveCourse) {
      <div
        class="course-tags-cointainer course-tags-date"
        [class.static-course-icons]="isMasiveCourse"
      >
        <app-watch-icon class="icon" />
        @if (course.mode === 'ASINCRONO') { DISPONIBLE 24/7 } @else { INICIO:
        {{ course.startDate | dateFormat : false }}
        }
      </div>
      } @if(!isMasiveCourse) {
      <div
        class="course-tags-cointainer"
        [class.static-course-icons]="isMasiveCourse"
      >
        <app-course-session-icon class="icon" />
        CERTIFICADO POR {{ course.certificateHours }} HRS
      </div>
      }
    </div>
  </div>

  <div class="course-details">
    <h2 class="course-title">{{ course.title }}</h2>

    <p class="course-description">
      {{ course.description }}
    </p>

    <div class="course-footer">
      @if (!isMasiveCourse) {
      <div class="course-footer-details">
        <div class="course-level">
          <app-course-session-icon class="icon" />

          <span>{{ course.module }}</span>
        </div>

        @if (course.isOnSale && course.discountPercentage > 0) {
        <span class="course-old-price"
          >Normal <span class="price">${{ course.priceRegular }}</span></span
        >
        }
      </div>
      }

      <div
        class="buttons-container"
        [class.masive-course-buttons-container]="isMasiveCourse"
      >
        <button
          class="course-item-button"
          customCourseButton
          [mode]="course.mode"
          [courseId]="course.courseId"
          (click)="downloadKit($event)"
        >
          @if(isMasiveCourse){
          <app-download-kit-icon />
          Descargar brochure } @else {
          <app-access-to-course-icon class="shop-cart-icon" />

          Acceder al curso }
        </button>

        <button
          class="course-item-button"
          customCourseButton
          [mode]="course.mode"
          [courseId]="course.courseId"
          (click)="goToPay($event)"
        >
          <app-shopping-cart-icon class="shop-cart-icon" /> Añadir al carrito
          <span>
            @if(course.isOnSale) { ${{ discountPrice() }} } @else if(
            !isMasiveCourse){ ${{ course.priceRegular | number : "1.0-0" }}
            }
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
