<div class="program-module-item" (click)="openDropdown = !openDropdown">
  <p>M1: {{ programModule.unit }}</p>
  <span>{{ programModule.hours }} hrs</span>

  @if(openDropdown) {
  <app-caret-up-icon class="caret-icon" />

  } @else {
  <app-caret-down-icon class="caret-icon" />

  }
</div>

@if(openDropdown) {
<div class="program-module-item-dropdown">
  <ul>
    <li>{{ programModule.sessions[0] }}</li>
  </ul>

  <div class="buttons-container">
    <div class="button-list">
      <a target="_blank" href="{{ programModule.urlrecording }}"
        >Ver grabación</a
      >
      <a target="_blank" href="{{ programModule.dmaterial }}"
        >Descargar material</a
      >
      <a target="_blank" href="{{ programModule.viewpresentation }}"
        >Ver presentación</a
      >
    </div>
  </div>
</div>

}
