.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.header-item-selected {
  border-radius: 30px;
  background: #4a3ac1;
}

@media screen and (max-width: 768px) {
  .header-item {
    color: black;
    gap: 10px;
  }
}
