<header class="header-container">
  <div class="header-content">
    <a href="">
      <app-aecode-icon />
    </a>

    <ul class="header-list">
      <a
        target="_blank"
        ZoomIn
        class="header-item"
        href="https://www.canva.com/design/DAGbXMYH3Qo/Njl9uZGdNjfleEX8Jt2lpQ/view?utm_content=DAGbXMYH3Qo&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hc8bb83ae0a"
      >
        ¿Quienes somos?
      </a>
      <a
        target="_blank"
        ZoomIn
        class="header-item"
        href="https://shamanai.aecode.ai/"
      >
        Shaman AI</a
      >
      <a
        (click)="redirectToCoursesView()"
        ZoomIn
        class="header-item header-button purple-button"
        ><app-book-icon /> Training</a
      >
      <a ZoomIn class="header-item header-button purple-button"
        ><app-sync-course-icon /> Live</a
      >

      @if (isUserLoggedIn) {
      <app-user-profile-button
        (sendIsUserLoggedIn)="isUserLoggedIn = $event"
        [isHomeView]="true"
      />

      } @else {
      <a
        class="header-item header-button sky-blue-button"
        (click)="openLoginForm = true"
        >Acceder</a
      >
      }
    </ul>
  </div>
</header>

<app-login-form
  [hidden]="!openLoginForm"
  (closeLoginForm)="openLoginForm = $event"
  (userLoggedIn)="isUserLoggedIn = $event"
/>
