<header class="header-container">
  <div class="header-content">
    <a href="" class="header-logo-container">
      <app-aecode-icon class="header-logo" />
    </a>
    <ul class="header-list" [class.hideInMobile]="!showMobileMenu">
      <a
        target="_blank"
        ZoomIn
        class="header-item"
        href="https://www.canva.com/design/DAGbXMYH3Qo/Njl9uZGdNjfleEX8Jt2lpQ/view?utm_content=DAGbXMYH3Qo&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hc8bb83ae0a"
      >
        <app-about-us-mobile-icon />
        ¿Quienes somos?
      </a>
      <a
        (click)="redirectToComunnity()"
        ZoomIn
        class="header-item header-button purple-button"
      >
        Comunidad</a
      >
      <a
        (click)="redirectToCoursesView()"
        ZoomIn
        class="header-item header-button purple-button"
        ><app-book-icon /> Training</a
      >
      <a
        href="http://beacons.ai/aecode.ai/live"
        target="_blank"
        ZoomIn
        class="header-item header-button purple-button"
        ><app-sync-course-icon /> Live</a
      >

      @if (isUserLoggedIn) {
      <app-user-profile-button
        (sendIsUserLoggedIn)="isUserLoggedIn = $event"
        [isHomeView]="true"
      />

      } @else {
      <a
        class="header-item header-button sky-blue-button mobile-item"
        (click)="openLoginForm = true"
        >Acceder</a
      >
      }
    </ul>

    <a
      class="header-item header-button sky-blue-button access-button-mobile"
      (click)="openLoginForm = true"
      >Acceder</a
    >

    <app-burger-icon class="menu-button" (click)="toggleMenu()" />
  </div>
</header>

<app-login-form
  [hidden]="!openLoginForm"
  (closeLoginForm)="openLoginForm = $event"
  (userLoggedIn)="isUserLoggedIn = $event"
/>
