.header-container {
  width: 100%;
  border-bottom: #3a4065 1px solid;
  position: relative;
  z-index: 2;

  .header-content {
    max-width: 1440px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 26px 50px;
    margin-inline: auto;

    .header-logo {
      height: 27px;
      display: flex;
    }

    .header-list {
      display: flex;
      flex-direction: row;
      gap: 50px;
      align-items: center;
      margin: 0;
      padding: 0;
      font-family: "ruberoid-light";
      font-size: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
    }

    .header-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 6px;
      cursor: pointer;
      color: white;
      text-decoration: none;
    }

    .header-button {
      width: 149px;
      height: 39px;
      border-radius: 19.5px;
      fill: white;
    }

    .purple-button {
      border: 1px solid rgba(120, 55, 221, 0.38);
      background: linear-gradient(
        180deg,
        rgba(114, 53, 241, 0.8) 15.51%,
        rgba(114, 53, 241, 0.36) 100%
      );
    }

    .sky-blue-button {
      background: #2e6df3;
    }

    .menu-button {
      display: none;
    }

    .access-button-mobile {
      display: none;
    }

    .isMobile {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    .header-content {
      flex-flow: row nowrap;
      padding: 15px 20px;
      justify-content: center;

      .header-logo-container {
        margin-right: auto;
      }

      .header-logo {
        height: 15.71px;
      }

      .header-list {
        width: fit-content;
        flex-direction: column;
        gap: 18px;
        padding: 25px 20px;
        margin-top: -15px;
        background-color: white;
        right: 25px;
        top: 100%;
        position: absolute;
        z-index: 0;
        align-items: flex-start;
        border-radius: 6px;
      }

      .header-item {
        color: black;
        gap: 10px;
      }

      .header-button {
        width: fit-content;
        height: inherit;
        fill: black;
      }

      .purple-button {
        border: transparent;
        background: transparent;
      }

      .sky-blue-button {
        background: #2e6df3;
      }

      .mobile-item {
        display: none;
      }

      .menu-button {
        display: block;
        position: relative;
        z-index: 2;
        margin-inline-start: 20px;
        width: 40px;
      }

      .isMobile {
        display: none;
      }

      .access-button-mobile {
        display: block;
        font-family: "ruberoid-light";
        padding: 6px 19.033px;
        color: white;
        font-size: 12px;
      }
    }
  }
}
