<form [formGroup]="initialForm" class="form-container">
  <app-square-icon class="close-button" (click)="closeModal()" />

  <span class="form-message">¡ESTAMOS AQUÍ PARA AYUDARTE!</span>

  <p class="form-description">
    Ingresa tu nombre y correo electronico para recibir información sobre tu
    pregunta
  </p>

  <input
    formControlName="full_name"
    type="text"
    class="form-input"
    placeholder="Nombre y Apellido"
  />
  <input
    formControlName="email"
    type="text"
    class="form-input"
    placeholder="Correo Electrónico"
  />

  <button (click)="sendMessage()" class="form-button">Enviar</button>
</form>
