<div class="course-item-container">
  <div class="course-image">
    <img src="assets\images\course-test-img.svg" alt="" />

    <span class="course-status"> </span>

    <div class="course-tags">
      <div class="course-icons">
        <div><img src="" alt="" /></div>
        <div><img src="" alt="" /></div>
      </div>

      <div class="course-content-details">
        <svg></svg>
        <span class="detail-description"></span>
      </div>
      <div class="course-content-details">
        <svg></svg>
        <span class="detail-description"></span>
      </div>
    </div>
  </div>

  <div class="course-details">
    <h2 class="course-title">
      Desarrollo e Implementación de Inteligencia Artificial en AEC
    </h2>

    <button>Reservar Curso</button>

    <div class="course-level">
      <app-level-icon />
      <span>Intermedio</span>
    </div>

    <div class="course-price">
      <span class="course-old-price">$299</span>
      <span class="course-new-price">$249</span>
    </div>
  </div>
</div>
