.course-item-container {
  width: 342px;
  border-radius: 6px;
  background: #eef3f8;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.11);

  .course-presentation-container {
    height: 212px;
    border-radius: 6px 6px 0px 0px;
    background: lightgray 50% / cover no-repeat;
    color: var(--purple-2);
    font-family: "plusjakartasans-semibold";
    position: relative;
    overflow: hidden;

    .course-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .course-status {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 29px;
      border-radius: 4px;
      background: #eef3f8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        3px 0px 9.5px 0px rgba(219, 201, 255, 0.71) inset;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .course-tags {
      width: 100%;
      padding: 10px 0 10px 16px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      right: 0;

      .course-icons {
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;

        .icon-container {
          width: 33px;
          height: 33px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eef3f8;
          border-radius: 50%;
          box-shadow: 0px 0px 7.7px 0px #dbc9ff inset;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.56));
          overflow: hidden;

          img {
            width: 65%;
            height: 65%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      .course-details-cointainer {
        padding: 6px 12px;
        display: flex;
        flex-flow: row nowrap;
        gap: 6px;
        border-radius: 4px 0px 0px 4px;
        background: #eef3f8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
          3px 0px 9.5px 0px rgba(219, 201, 255, 0.71) inset;

        .course-details-content {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 2px;
          font-size: 12px;

          .icon {
            fill: var(--purple-2);
          }
        }
      }
    }
  }

  .course-details {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 20px 15px;
    font-family: "plusjakartasans-semibold";
    position: relative;

    .course-level {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 8px;
    }

    .course-price {
      display: flex;
      width: 88px;
      height: 38px;
      padding: 8px 20px;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 1px solid var(--MORADO, #381187);
      position: absolute;
      right: 15px;
      bottom: 24px;

      .course-old-price {
        text-decoration-line: line-through;
        font-size: 16px;
        position: absolute;
        left: 50%;
        top: -80%;
        transform: translateX(-50%);
      }

      .course-new-price {
        font-size: 20px;
        color: var(--purple-2);
      }
    }
  }

  .course-title {
    margin: 0;
    font-size: 19px;
    font-family: "ruberoid-semibold";
  }

  .reserve-button {
    width: fit-content;
    height: 33px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 7px 13px;
    background: var(--purple-2);
    font-size: 16px;
    font-family: "plusjakartasans-semibold";
    cursor: pointer;
  }
}

/* Platform course styles */

.platform-course-item-container {
  width: 520px;
  min-height: 273px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.11);
}

.platform-course-details {
  padding: 14px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .course-item-container {
    width: 203px;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    margin-bottom: 20px;

    .course-presentation-container {
      height: 130px;
      border-radius: 4px;

      .course-status {
        width: 42px;
        height: 25px;
        font-size: 14px;
        right: 8px;
        top: 8px;
      }

      .static-course-status {
        width: 37px;
        height: 18px;
        font-size: 12px;
      }

      .course-tags {
        padding: 10px 0 10px 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;

        .course-icons {
          gap: 6px;

          .icon-container {
            width: 27px;
            height: 27px;
          }
        }

        .course-details-cointainer {
          padding: 4px 12px;

          .course-details-content {
            gap: 4px;
            font-size: 10px;
          }
        }

        /* Static course styles for mobile */
        .static-course-icons {
          .icon-container {
            width: 17px;
            height: 17px;
          }
        }

        .static-course-details-cointainer {
          padding: 0px 4px;

          .course-details-content {
            .icon {
              display: flex;
              width: 14px;
            }

            .detail-description {
              font-size: 8px;
            }
          }
        }
      }
    }

    .course-details {
      padding: 12px 10px 15px 10px;
      gap: 10px;

      .course-level {
        font-size: 12px;
        .icon {
          width: 14px;
          height: 14px;
          display: flex;
        }
      }

      .course-price {
        width: 53px;
        height: 24px;
        padding: 0px;
        justify-content: center;
        right: 6px;
        bottom: 15px;

        .course-old-price {
          font-size: 12px;
        }

        .course-new-price {
          font-size: 14px;
        }
      }
    }

    .course-title {
      font-size: 12px;
    }

    .reserve-button {
      height: 22px;
      border-radius: 2px;
      padding: 7px 10px;
      font-size: 10px;
    }
  }

  /* Platform course styles */

  .platform-course-item-container {
    width: 100%;
    max-width: 315px;
    margin: 0px auto;
  }

  .platform-course-details {
    padding: 8px 12px;
  }
}
