<div class="popup-container">
  <div class="popup-content">
    <h2>Sigue disfrutando de AECODE</h2>
    <p>Agrega tu foto, nombre y número de teléfono para seguir viendo el contenido de los cursos</p>
    <div class="image-upload-section">
      <div class="image-upload">
        <img id="imagePreview" src="/assets/images/login-view/image271.png" alt="Imagen de perfil" class="profile-image">
      </div>
      <div class="upload-info">
        <span class="upload-text">Carga una imagen JPG o PNG. Menor a 1MB</span>
        <label for="imageInput" class="upload-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 30 30" fill="none">
            <path d="M23.9375 22H6.0625C4.9234 22 4 21.1046 4 20V8C4 6.89542 4.9234 6 6.0625 6H23.9375C25.0766 6 26 6.89542 26 8V20C26 21.1046 25.0766 22 23.9375 22ZM8.8125 8.33333C7.48356 8.33333 6.40625 9.378 6.40625 10.6667C6.40625 11.9553 7.48356 13 8.8125 13C10.1414 13 11.2188 11.9553 11.2188 10.6667C11.2188 9.378 10.1414 8.33333 8.8125 8.33333ZM6.75 19.3333H23.25V14.6667L19.4896 11.0202C19.2882 10.825 18.9618 10.825 18.7604 11.0202L12.9375 16.6667L10.5521 14.3535C10.3507 14.1583 10.0243 14.1583 9.82287 14.3535L6.75 17.3333V19.3333Z" fill="white"/>
          </svg>
          Subir Imagen
        </label>
        <input type="file" id="imageInput" accept=".jpg, .jpeg, .png" hidden>
      </div>
    </div>
    <div class="form-container">
      <div class="form-group">
        <div class="namecomplet"><label for="nombreCompleto">Nombre</label></div>
        <input type="text" id="nombreCompleto" placeholder="Johnson Victor  Rojas Cárdenas">
      </div>
      <div class="form-group">
        <div class="phone-input">
          <span class="phone-code">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
              <circle cx="10.5" cy="10.5" r="10.5" fill="#FF0000"/>
              <rect x="8.80664" width="4.06452" height="21" fill="white"/>
            </svg> +51
          </span>
          <input type="tel" id="telefono" placeholder="Tu número de teléfono">
        </div>
      </div>
      <div class="form-actions">
        <button type="button" id="omitButton">OMITIR POR AHORA</button>
        <button type="submit" id="completeProfileButton">COMPLETAR PERFIL</button>
      </div>
    </div>
  </div>
</div>
