<div class="module-list">
  @for (moduleItem of course.modules; track moduleItem) {
  <div class="course-item-container">
    <div class="course-presentation-container">
      <img
        class="course-img"
        src="{{ moduleItem.moduleimage | addBaseUrl }}"
        alt=""
      />

      <span class="course-status">{{ moduleItem.percentage }}%</span>

      <div class="course-tags">
        <div class="course-icons">
          @for (toolItem of course.tools; track toolItem) {

          <div class="icon-container">
            <img
              src="{{ toolItem.picture | addBaseUrl }}"
              alt="{{ toolItem.name }}"
            />
          </div>

          }
        </div>

        <div class="course-details-cointainer">
          <div class="course-details-content">
            <app-course-session-icon class="icon" />
            <span class="detail-description"
              >{{ moduleItem.units.length }} sesiones</span
            >
          </div>
          <div class="course-details-content">
            <app-watch-icon class="icon" />
            <span class="detail-description"> {{ moduleItem.hours }} hrs</span>
          </div>
        </div>
      </div>
    </div>

    <div class="course-details">
      <h2 class="course-title">
        M{{ moduleItem.orderNumber }}: {{ moduleItem.title }}
      </h2>

      <button
        class="reserve-button"
        (click)="redirectToCourse(moduleItem.moduleId)"
      >
        Acceder
      </button>
    </div>
  </div>

  }
</div>
