<div class="unit-item" (click)="sendUnitIdSelected(studyplanItem.studyplanId)">
  <span>U{{ studyplanItem.orderNumber }}: {{ studyplanItem.unit }}</span>

  <div class="unit-hours-container">
    <app-stop-watch-icon />

    <span class="unit-hours">{{ studyplanItem.hours }} horas</span>

    @if(studyOrderNumberSelected === studyplanItem.studyplanId) {
    <app-caret-up-icon class="icon" />
    } @else {
    <app-caret-down-icon class="icon" />

    }
  </div>
</div>

@if (studyOrderNumberSelected === studyplanItem.studyplanId) {
<ul class="plan-list">
  @for (sessionItem of studyplanItem.sessions; track sessionItem) {
  <li>{{ sessionItem }}</li>
  }
</ul>

}
