.close-button {
  top: 21px;
  right: 16px;
  border-radius: 0 10px 0 10px;
  position: absolute;
  cursor: pointer;
}

.modal-background {
  width: 1440px;
  height: 792px;
  background: #eef3f8;
  position: relative;
  border-radius: 10px;
}

.curso-content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 79px;
  padding-bottom: 38px;
  padding-left: 38px;
  padding-right: 38px;
}

/* Contenedor de textp */
.curso-contenido {
  width: 892px;
  height: 581px;
  flex: 1;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  color: #3b2073;
}

/*Titulo de que aprenderas*/
h3:nth-of-type(1) {
  color: #381187;
  font-size: 20px;
  font-family: "ruberoid-medium";
  margin: 0;
  max-height: 20px;
}
/*Titulo de casos practicos*/
h3:nth-of-type(2) {
  color: #381187;
  font-family: "ruberoid-medium";
  font-size: 20px;
  margin: 0;
  max-height: 20px;
}
/*Titulo de Este curso incluye*/
h3:nth-of-type(3) {
  color: #381187;
  font-family: "ruberoid-medium";
  font-size: 20px;
  margin: 0;
  max-height: 20px;
}
/*Toitulo de Reconocimiento profesional*/

h3:nth-of-type(4) {
  color: #381187;
  font-family: "ruberoid-medium";
  font-size: 20px;
  margin: 0;
  max-height: 20px;
}

p {
  color: #212121;
  font-size: 16px;
  font-family: "plusjakartasans-light";
  margin: 12px 0;
}

ul {
  list-style: none;
  margin-bottom: 15px;
}
/*CASOS PRACTICOS*/
.casos-list {
  margin-left: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px 50px;
  list-style-type: disc;
  margin-bottom: 17px;
  padding: 0;
}

.casos-list li {
  display: list-item;
  font-family: "plusjakartasans-medium";
  list-style-type: none;
  color: #212121;
  font-size: 16px;
  margin: 0;
}
.casos-list li:last-child {
  margin-left: 6px;
}

.casos-list li::before {
  content: "\2022"; /* Círculo */
  font-size: 20px;
  margin-right: 5px;
  fill: #381187;
}

/*Este curso incluye*/
.incluye-list {
  margin-left: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px 80px;
  padding: 0;
  list-style-type: disc;
}

.incluye-list li {
  font-family: "plusjakartasans-medium";
  display: list-item;
  list-style-type: none;
  color: #212121;
  font-size: 16px;
  padding-left: 0;
  margin-left: 0;
}
.incluye-list li:last-child {
  margin-left: 49px;
}
.incluye-list li::before {
  content: "\2022"; /* Círculo */
  font-size: 20px;
  margin-right: 5px;
  fill: #381187;
}

/*RECONOCIMIENTO PROFESIONAL*/
.reconocimiento-list {
  margin-left: 10px;
  display: grid;
  gap: 5px;
  padding: 0;
  margin-top: 12px;
  list-style-type: disc;
}

.reconocimiento-list li {
  font-family: "plusjakartasans-light";
  list-style-type: none;
  color: #212121;
  width: 812px;
}
.reconocimiento-list li:nth-child(1)::before {
  width: 812px;
  content: "\2022"; /* Círculo */
  font-size: 20px;
  margin-right: 5px;
  fill: #381187;
}

.reconocimiento-list li:nth-child(2)::before {
  width: 733px;
  content: "\2022"; /* Círculo */
  font-size: 20px;
  margin-right: 5px;
  fill: #381187;
}
.reconocimiento-list::marker {
  color: #212121;
  font-size: 16px;
}

/* Contenedor de la imagen */
.curso-imagen {
  width: 452px;
  height: 581px;
  flex: 0 1 350px;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.curso-imagen img {
  width: 418px;
  height: 562px;
}

.botones {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contact-button {
  text-decoration: none;
  color: white;
}
