<div class="modal-background">
  <div class="curso-content-wrapper">
      <div class="curso-contenido">
          <h3>¿Qué aprenderás?</h3>
          <p>
              De lo más básico a lo más avanzado sobre conceptos clave y casos aplicativos en Ingeniería 4.0 como
              Automatización, IoT, Desarrollo Web, Inteligencia Artificial y más, para iniciar en tu camino como
              profesional del ecosistema digital.
          </p>
          <h3>Casos prácticos</h3>
          <p>
              Acorde con la metodología de Active Learning se verán casos prácticos y reales de la Ingeniería 4.0
              para todas las especialidades.
          </p>
          <ul class="casos-list">
              <li>Gestión de proyectos</li>
              <li>Diseño Vial</li>
              <li>Ingeniería Hidráulica</li>
              <li>Ingeniería Geotécnica</li>
              <li>Ingeniería Estructural</li>
              <li>Desarrollo Sostenible</li>
          </ul>

          <h3>Este curso incluye</h3>
          <ul class="incluye-list">
              <li>27 horas de video bajo demanda</li>
              <li>Acceso de por vida</li>
              <li>15 papers e investigaciones</li>
              <li>Certificado de finalización</li>
              <li>50 recursos descargables</li>
          </ul>

          <h3>Reconocimiento Profesional</h3>
          <ul class="reconocimiento-list">
            <li>Para la obtención del certificado cada participante deberá aprobar la evaluación final del curso.</li>
            <li>Este certificado potenciará tu perfil profesional, destacando tus habilidades y conocimiento en la
              ingeniería 4.0.</li>
          </ul>
      </div>

      <div class="curso-imagen">
          <img src="assets\images\courses\ingenieria-4.0-img.webp" alt="Ingeniería 4.0">
      </div>
  </div>

  <div class="botones">
      <app-button (click)="closeModal()">ADQUIRIR</app-button>
      <app-button (click)="closeModal()">CONTACTANOS</app-button>
  </div>
</div>
