<div class="terms-container">
  <div class="term-item">
    <p class="term-description">
      AECODE (con domicilio fiscal en Perú) respeta la privacidad de sus
      usuarios y se compromete a proteger sus datos personales conforme a la
      legislación vigente.
    </p>
  </div>

  <div class="term-item">
    <p class="term-title">1. Datos que Recopilamos</p>
    <p class="term-description">
      Recopilamos los siguientes datos al registrarte, realizar un pago o
      comunicarte con nosotros:
    </p>

    <ul>
      <li>Nombre completo</li>
      <li>Correo electrónico</li>
      <li>Número de teléfono</li>
      <li>País de residencia</li>
      <li>Información académica o profesional (si aplica)</li>
      <li>Información de pago (gestionada a través de pasarelas seguras)</li>
    </ul>
  </div>

  <div class="term-item">
    <p class="term-title">2. Uso Aceptable del Sitio</p>
    <p class="term-description">Utilizamos tus datos para:</p>

    <ul>
      <li>Gestionar tu inscripción y acceso a los cursos</li>
      <li>Emitir certificados y comprobantes</li>
      <li>Brindar soporte técnico y académico</li>
      <li>
        Enviar recordatorios, novedades o promociones relacionadas a nuestros
        programas
      </li>
    </ul>
  </div>

  <div class="term-item">
    <p class="term-title">3. Seguridad</p>
    <p class="term-description">
      Toda la información es almacenada de forma segura. No compartimos tus
      datos con terceros sin tu autorización explícita.
    </p>
  </div>

  <div class="term-item">
    <p class="term-title">4. Derechos del Usuario</p>
    <p class="term-description">
      Puedes solicitar en cualquier momento la corrección o eliminación de tus
      datos enviando un correo a: contacto&commat;aecode.ai
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">5. Cookies y Seguimiento</p>
    <p class="term-description">
      Nuestro sitio puede utilizar cookies para mejorar tu experiencia. Puedes
      gestionar su uso desde tu navegador.
    </p>
  </div>
</div>
