<div
  class="card-item-container {{
    themeService.getMode() | async
  }}-card-item-container"
>
  <div class="card-name-container">
    @if(cardItem.id===1){
    <app-interbank-icon />
    } @else {
    <app-bcp-icon />

    }

    <div>
      <h2 class="card-name-detail">{{ cardItem.name }}</h2>
      <p class="card-name-description">AECODE INGENIERÍA Y PROGRAMACIÓN</p>
    </div>
  </div>

  <div class="card-numbers">
    <h2>Cuenta Soles</h2>

    <div class="card-number-detail">
      <span>Numero de Cuenta:</span>
      <span class="card-number">{{ cardItem.penAccNumber }}</span>
      <app-copy-icon />
    </div>

    <div class="card-number-detail">
      <span>CCI:</span>
      <span class="card-number"> {{ cardItem.penAccNumberCCI }}</span>
      <app-copy-icon />
    </div>
  </div>

  <div class="card-numbers">
    <h2>Cuenta en Dólares</h2>

    <div class="card-number-detail">
      <span>Numero de Cuenta:</span>
      <span class="card-number">{{ cardItem.usdAccNumber }}</span>
      <app-copy-icon />
    </div>

    <div class="card-number-detail">
      <span>CCI:</span>
      <span class="card-number"> {{ cardItem.usdAccNumberCCI }}</span>
      <app-copy-icon />
    </div>
  </div>
</div>
