
.card {
  width: 737px;
  height: 355px;
  background-color: white;
  border-radius: 7px;
  border: 2px solid #C6D0D5;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card h1 {
  font-size: 30px;
  color: #212121;
  font-family: "ruberoid-bold";
  margin: 0;
}

.card p {
  width: 547px;
  height: 68px;
line-height: 30px;
  font-size: 17px;
  font-family:  "plusjakartasans-medium";
  color: #1E1E1E;
  color: #212121;
  margin-bottom: 40px;
}

/* Botón de descarga */
.download-btn {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
  max-width: 171px;
  width: 100%;
  max-height: 38px;
  height: 100%;
  background-color: #381187;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: "ruberoid-semibold";
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #4a169a;
}

.download-btn svg {
  width: 17.095px;
  height: 19px;
}

.download-btn:active {
  transform: scale(0.98);
}
