<div class="courses-container">
  <app-course-overlay>
    @if(course$ | async; as course) {
    <main class="masive-course-container">
      <h1 class="masive-course-title">INGENIERIA 4.0</h1>

      <div class="text-container">
        <span>Esto es para ti si...</span>
        <ul>
          <li>
            Quieres salir de la burbuja y quieres explorar conceptos más
            actualizados y demandados en los proyectos de ingeniería
          </li>
          <li>
            Qué es lo que en los próximos años demandaran en las convocatorias
            laborales
          </li>
          <li>
            Quieres conocer las tecnologías y tendencias aplicadas a la
            contrucción e ingeniería pero no dar ese salto abrupto, sino ir
            desde 0 y tener la base y fundamentos
          </li>
        </ul>
      </div>

      <div class="masive-course-detail-container">
        <div class="text-container">
          <p>
            Descubre los módulos que la comunidad AECODE y expertos han
            elaborado para ti, de una manera sencilla, fácil y detallada
            conocerás los conceptos primordiales que te permitirán acceder a
            todo lo necesario para sobrevivir en el mundo de la ingeniería real
            moderna
          </p>

          <ul>
            <li>Certificado por cada modulo</li>
            <li>
              Certificado por todo el programa si adquieres todos los módulos
            </li>
            <li>Guías descargables</li>
            <li>Roadmaps descargables</li>
          </ul>

          <p>
            Hoy todos los videos introductorios de todos los modulos estan
            disponibles para ti. ¿Qué esperas?
          </p>
        </div>

        <app-free-module
          [freeModule]="course.modules[0]"
          [courseTools]="course.tools"
        />
      </div>

      <h2>Módulos Tecnológicos introductorios a tu alcance</h2>

      <app-course-module-box [course]="course" />
    </main>
    } @else {
    <app-loader />
    }
  </app-course-overlay>
</div>
