.courses-overlay {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding: 66px 24px 32px;
  gap: 40px;
  position: relative;

  .masive-course-bg-container {
    width: 100%;
    height: 594px;
    position: absolute;
    top: 0;
    z-index: -1;

    .masive-course-bg-content {
      width: 100%;
      height: 100%;
      position: relative;

      .bg-gradient {
        width: 100%;
        height: 100%;
        opacity: 0.95;
        background: linear-gradient(
          178deg,
          rgba(93, 40, 175, 0.72) -45.35%,
          rgba(74, 28, 155, 0.81) -10.33%,
          rgba(56, 17, 135, 0.9) 61.83%
        );
        position: absolute;
        top: 0;
        z-index: -1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        z-index: -2;
      }
    }
  }

  .theme-button {
    width: 100%;
    max-width: 186px;
    height: 44px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 11px;
    background-color: white;
    border: 1px solid #b4bbbf;
    font-family: "plusjakartasans-medium";
    font-size: 12px;
    fill: black;
    border-radius: 28px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);

    .theme-option {
      width: 90px;
      height: 28px;
      display: flex;
      flex-flow: row nowrap;
      gap: 9px;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      border: 0px solid var(--Gris-2, #b4bbbf);
      cursor: pointer;
    }

    .theme-selected {
      fill: white;
      color: white;
      background-color: var(--purple-2);
    }
  }

  .invest-whatsapp-button {
    display: flex;
    width: 170px;
    height: 50px;
    color: black;
    margin-inline: auto;
    margin-top: 23px;
    padding: 10px 58px 10px 26px;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #fff;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.1) 57.6%,
      rgba(255, 255, 255, 0.02) 91.06%
    );
    box-shadow: 0px 0px 6.8px 0px #b4bbbf;
    backdrop-filter: blur(25px);
    text-decoration: none;
    font-family: "plusjakartasans-semibold";
    font-size: 16px;
    cursor: pointer;
    position: relative;

    .whatsapp-button {
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: linear-gradient(
        180deg,
        #d6dceb 10%,
        rgba(255, 255, 255) 100%
      );
      flex-shrink: 0;
      position: absolute;
      right: -10%;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid white;
      box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.15);

      img {
        width: 30px;
        aspect-ratio: 1/1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .courses-overlay {
    padding: 60px 14px 80px;
  }
}
