.courses-overlay {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding: 66px 24px 32px;
  gap: 40px;
  position: relative;

  .masive-course-bg-container {
    width: 100%;
    height: 594px;
    position: absolute;
    top: 0;
    z-index: -1;

    .masive-course-bg-content {
      width: 100%;
      height: 100%;
      position: relative;

      .bg-gradient {
        width: 100%;
        height: 100%;
        opacity: 0.95;
        background: linear-gradient(
          178deg,
          rgba(93, 40, 175, 0.72) -45.35%,
          rgba(74, 28, 155, 0.81) -10.33%,
          rgba(56, 17, 135, 0.9) 61.83%
        );
        position: absolute;
        top: 0;
        z-index: -1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        z-index: -2;
      }
    }
  }

  .theme-button {
    border-radius: 0px 50px 50px 0px;
    border: 1px solid #fff;
    background: #eef3f8;
    box-shadow: 0px 0px 7.8px 3px rgba(44, 34, 175, 0.5);
    padding: 24px 15px;
    font-family: "plusjakartasans-medium";
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    left: 0;

    .theme-content {
      background-color: var(--purple-2);
      border-radius: 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 4px 5px;

      .theme-option {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        fill: white;
      }

      .theme-selected {
        background-color: #eef3f8;
        fill: var(--purple-2);
      }
    }
  }

  .whatsapp-button {
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    border: 1px solid #fff;
    background: #eef3f8;
    box-shadow: 0px 0px 7.8px 3px rgba(44, 34, 175, 0.5);
    position: fixed;
    bottom: 20px;
    right: 0;
    padding: 7px 20px 7px 7px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .courses-overlay {
    padding: 60px 14px 80px;
  }
}
