<app-header />

<div class="courses-overlay">
  <ng-content />

  <button class="theme-button {{ theme | async }}-theme-button ">
    <div class="theme-content">
      <div
        ZoomIn
        class="theme-option"
        [class.theme-selected]="!isDarkTheme"
        (click)="setThemeMode('light')"
      >
        <app-sun-icon />
      </div>

      <div
        ZoomIn
        class="theme-option"
        [class.theme-selected]="isDarkTheme"
        (click)="setThemeMode('dark')"
      >
        <app-moon-icon />
      </div>
    </div>
  </button>

  <a class="whatsapp-button" target="_blank" href="{{ wsspMessage }}">
    <app-wssp-floating-icon class="icon" />
  </a>
</div>

<app-home-footer [isCourseFooter]="true" />
