<div class="courses-overlay">
  @if (showMasiveCourseBackground) {
  <div class="masive-course-bg-container">
    <div class="masive-course-bg-content">
      <div class="bg-gradient"></div>
      <img src="{{ masiveCourseBackgroundGift | addBaseUrl }}" alt="" />
    </div>
  </div>

  }

  <ng-content />

  <button class="theme-button">
    <div class="theme-content">
      <div
        ZoomIn
        class="theme-option"
        [class.theme-selected]="!isDarkTheme"
        (click)="isDarkTheme = false"
      >
        <app-sun-icon />
        <!-- <span>Light</span> -->
      </div>

      <div
        ZoomIn
        class="theme-option"
        [class.theme-selected]="isDarkTheme"
        (click)="isDarkTheme = true"
      >
        <app-moon-icon />
        <!-- <span>Dark</span> -->
      </div>
    </div>
  </button>

  <a
    class="whatsapp-button"
    target="_blank"
    href="https://api.whatsapp.com/send?phone=+51900121245&text=Hola AECODE. Necesito informaci%C3%B3n para poder fraccionar el programa de *en cuotas."
  >
    <app-wssp-floating-icon class="icon" />
  </a>
</div>
