<section class="collaborators-container">
  <div class="collaborators-buttons-container">
    <button
      class="collaborators-button"
      [class.collaborators-button-selected]="collabsButtonSelected"
      (click)="changeCollabsButton(true)"
    >
      <div
        [class.inner-button-selected]="collabsButtonSelected"
        class="inner-button"
      >
        Colaboradores
      </div>
    </button>
    <button
      class="collaborators-button embajador-button"
      [class.collaborators-button-selected]="!collabsButtonSelected"
      (click)="changeCollabsButton(false)"
    >
      <div
        [class.inner-button-selected]="!collabsButtonSelected"
        class="inner-button"
      >
        Embajadores
      </div>
    </button>

    <img
      class="collaborators-intersect"
      src="/assets/images/community/Intersect.png"
      alt=""
    />

    <img
      class="collaborators-animated-bot"
      src="/assets/images/community/ROBOTITO-6--unscreen.gif"
      alt=""
    />
  </div>

  <h2 class="collaborators-title">
    @if(collabsButtonSelected){Colaboradores}@else{Embajadores}
  </h2>

  <p class="collaborators-subtitle">
    @if(collabsButtonSelected){Conocimiento en acción. Profesionales que suman
    experiencia y visión al ecosistema AECODE.}@else{Liderazgo, aprendizaje y
    comunidad. Estudiantes que amplían sus horizontes más allá de la
    universidad.}
  </p>

  <div class="collaborators-carousel-container">
    <div class="collaborators-carousel">
      <swiper-container id="collaborators-swiper" init="false">
        <swiper-slide>
          <div class="grid">
            <div class="row">
              @for (item of collabsButtonSelected ? colaborators_list :
              embajadores_list; track $index) { @if($index < 4) {
              <div class="collab-item" (click)="selectItem(item, $index)">
                <img src="{{ item.image_url }}" alt="" />
                @if($index === itemSelected){
                <div class="collab-item-selected"></div>

                }
              </div>

              } }
            </div>
            <div class="row">
              @for (item of collabsButtonSelected ? colaborators_list :
              embajadores_list; track $index) { @if( $index > 3 && $index < 8) {
              <div class="collab-item" (click)="selectItem(item, $index)">
                <img src="{{ item.image_url }}" alt="" />
                @if($index === itemSelected){
                <div class="collab-item-selected"></div>

                }
              </div>

              } }
            </div>
            <div class="row last">
              @for (item of collabsButtonSelected ? colaborators_list :
              embajadores_list; track $index) { @if( $index > 7) {
              <div class="collab-item" (click)="selectItem(item, $index)">
                <img src="{{ item.image_url }}" alt="" />
                @if($index === itemSelected){
                <div class="collab-item-selected"></div>

                }
              </div>

              } }
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="grid">
            <div class="row">
              @for (item of collabsButtonSelected ? colaborators_list_2 :
              embajadores_list_2; track $index) { @if($index < 4) {
              <div class="collab-item" (click)="selectItem(item, $index)">
                <img src="{{ item.image_url }}" alt="" />
                @if($index === itemSelected){
                <div class="collab-item-selected"></div>

                }
              </div>

              } }
            </div>
            <div class="row">
              @for (item of collabsButtonSelected ? colaborators_list_2 :
              embajadores_list_2; track $index) { @if( $index > 3 && $index < 8)
              {
              <div class="collab-item" (click)="selectItem(item, $index)">
                <img src="{{ item.image_url }}" alt="" />
                @if($index === itemSelected){
                <div class="collab-item-selected"></div>

                }
              </div>

              } }
            </div>
            <div class="row last">
              @for (item of collabsButtonSelected ? colaborators_list_2 :
              embajadores_list_2; track $index) { @if( $index > 7) {
              <div class="collab-item" (click)="selectItem(item, $index)">
                <img src="{{ item.image_url }}" alt="" />
                @if($index === itemSelected){
                <div class="collab-item-selected"></div>

                }
              </div>

              } }
            </div>
          </div>
        </swiper-slide>
      </swiper-container>

      <div class="like-container-top-right"><app-collabs-like-icon /></div>
      <div class="like-container-bottom-left"><app-collabs-like-icon /></div>
    </div>

    <div class="collaborator-detail-container">
      <div class="collaborator-img">
        <img
          src="{{ itemDataSelected.image_url }}"
          alt="Image of {{ itemDataSelected.name }}"
        />
      </div>

      <h3 class="collaborator-name">{{ itemDataSelected.name }}</h3>
      @if(collabsButtonSelected){
      <p class="collaborator-description">
        {{ itemDataSelected.description }}
      </p>

      } @if(collabsButtonSelected){
      <span class="collaborator-group">
        {{ itemDataSelected.group }}
      </span>
      }@else{
      <div class="embajadores-tag-list">
        @for(item of itemDataSelected.tag_list.slice(0, 3); track item){
        <span class="collaborator-group">
          {{ item }}
        </span>
        }
      </div>
      }

      <!-- <ul class="collaborator-social-media">
        <a
          ZoomIn
          href="{{ itemDataSelected.facebook_url }}"
          class="social-media-item"
        >
          <app-community-facebook-icon />
        </a>
        <a
          ZoomIn
          href="{{ itemDataSelected.youtube_url }}"
          class="social-media-item"
        >
          <app-community-youtube-icon />
        </a>
        <a
          ZoomIn
          href="{{ itemDataSelected.instragram_url }}"
          class="social-media-item"
        >
          <app-community-instagram-icon />
        </a>
        <a
          ZoomIn
          href="{{ itemDataSelected.linkedin_url }}"
          class="social-media-item"
        >
          <app-community-linkedin-icon />
        </a>
      </ul> -->
    </div>
  </div>
</section>
