.collaborators-container {
  color: var(--gray-3);
  font-size: 18px;
  padding: 38px 65px;
  position: relative;

  .collaborators-title {
    font-family: "Ruberoid-semibold";
    font-size: 50px;
    text-align: center;
    margin-block: 75px 17px;
    position: relative;
    z-index: 1;
  }

  .collaborators-subtitle {
    text-align: center;
    font-family: "plusjakartasans-light";
    margin-block: 17px 101px;
  }

  .collaborators-buttons-container {
    width: fit-content;
    margin-block: 0px 23px;
    margin-inline: auto;
    background: #1c1d3c;
    border-radius: 80px;
    border: 10px solid rgba(94, 101, 181, 0.54);
    position: relative;

    .collaborators-button {
      padding: 23px 26px;
      border-radius: 80px 0 0 80px;
      color: var(--gray-3);
      font-size: 20px;
      font-family: "ruberoid-semibold";
      background-color: transparent;
      border: 1px solid #1c1d3c;

      cursor: pointer;
      position: relative;
      z-index: 1;

      &:hover {
        opacity: 0.7;
      }

      .inner-button {
        padding: 20px 186px;
        border-radius: 80px;
      }

      .inner-button-selected {
        border: 1px solid #7c7edf;
        background: #4a3ac1;
      }
    }

    .embajador-button {
      border-radius: 0 80px 80px 0;
      border: 3px solid #1c1d3c;
    }

    .collaborators-button-selected {
      border: 3px solid #7c7edf;
    }

    .collaborators-intersect {
      width: 671px;
      position: absolute;
      bottom: 108%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    .collaborators-animated-bot {
      height: calc((268 / 920) * 100vh);
      position: absolute;
      bottom: 103%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }

  .collaborators-carousel-container {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 793px) 495px;
    grid-template-rows: 500px;
    gap: 126px;
    position: relative;

    .collaborators-video {
      width: 100%;
      border: 2px solid #8f60ea;
      border-radius: 6px;
    }

    .detail-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      color: var(--gray-3);

      .collaborator-img {
        height: 210px;
        aspect-ratio: 1 / 1;
        border-radius: 6px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
          object-fit: cover;
          object-position: center;
        }
      }
      .collaborator-name {
        font-family: "Ruberoid-semibold";
        font-size: 30px;
        margin-block: 22px 14px;
        text-align: end;
      }

      .collaborator-description {
        font-family: "plusjakartasans-light";
        font-size: 16px;
        margin-block: 0 14px;
        text-align: end;
      }

      .embajadores-tag-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: flex-end;
      }

      .collaborator-group {
        width: fit-content;
        border-radius: 20px;
        border: 2px solid#7c7edf;
        padding: 10px 15px;
        gap: 10px;
        color: #eef3f8;
        font-family: "ruberoid-medium";
        font-size: 18px;
        text-wrap: nowrap;
      }
    }
  }

  .purple-button-shadow {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc((1312.449 / 1440) * 100%);
    height: 15%;
    flex-shrink: 0;
    border-radius: 1312.449px;
    background: #615ec5;
    filter: blur(250px);
  }

  .blue-swiper-shadow {
    position: absolute;
    left: 0;
    top: 50%;
    width: calc((886.61 / 1440) * 100%);
    height: calc((512.584 / 1440) * 100%);
    border-radius: 886.61px;
    background: #2e64f4;
    filter: blur(250px);
  }
}
