.collaborators-container {
  color: var(--gray-3);
  font-size: 18px;
  padding: 38px 65px;
  position: relative;

  .collaborators-title {
    font-family: "Ruberoid-semibold";
    font-size: 50px;
    text-align: center;
    margin-block: 75px 17px;
    position: relative;
    z-index: 1;
  }

  .collaborators-subtitle {
    text-align: center;
    font-family: "plusjakartasans-light";
    margin-block: 17px 101px;
  }

  .collaborators-buttons-container {
    width: fit-content;
    margin-block: 0px 23px;
    margin-inline: auto;
    background: #1c1d3c;
    border-radius: 80px;
    border: 10px solid rgba(94, 101, 181, 0.54);
    position: relative;

    .collaborators-button {
      padding: 23px 26px;
      border-radius: 80px 0 0 80px;
      color: var(--gray-3);
      font-size: 20px;
      font-family: "ruberoid-semibold";
      background-color: transparent;
      border: 1px solid #1c1d3c;

      cursor: pointer;
      position: relative;
      z-index: 1;

      &:hover {
        opacity: 0.7;
      }

      .inner-button {
        padding: 20px 186px;
        border-radius: 80px;
      }

      .inner-button-selected {
        border: 1px solid #7c7edf;
        background: #4a3ac1;
      }
    }

    .embajador-button {
      border-radius: 0 80px 80px 0;
      border: 3px solid #1c1d3c;
    }

    .collaborators-button-selected {
      border: 3px solid #7c7edf;
    }

    .collaborators-intersect {
      width: 671px;
      position: absolute;
      bottom: 108%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    .collaborators-animated-bot {
      height: calc((268 / 920) * 100vh);
      position: absolute;
      bottom: 103%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }

  .collaborators-carousel-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 495px;
    grid-template-rows: 495px;
    position: relative;

    .collaborators-carousel {
      position: relative;
      z-index: 1;

      .like-container-top-right {
        display: flex;
        justify-content: center;
        padding-block: 10px;
        position: absolute;
        top: 11%;
        right: 6%;
        z-index: 2;
        width: 88.028px;
        height: 64.674px;
        border-radius: 35px;
        border: 1px solid rgba(200, 218, 254, 0.71);
        background: var(--Negro, #000);
        box-shadow: 0px 1px 17.3px 10px rgba(9, 159, 246, 0.41);
      }

      .like-container-bottom-left {
        display: flex;
        justify-content: center;
        padding-block: 10px;
        position: absolute;
        bottom: 25%;
        left: 6%;
        z-index: 2;
        width: 88.028px;
        height: 64.674px;
        border-radius: 35px;
        border: 1px solid rgba(200, 218, 254, 0.71);
        background: var(--Negro, #000);
        box-shadow: 0px 1px 17.3px 10px rgba(9, 159, 246, 0.41);
      }

      swiper-container {
        max-width: 670px;
        height: 100%;
        margin-inline: auto;
      }

      swiper-container::part(button-prev) {
        position: absolute;
        z-index: 2;
        margin-top: 25%;
        margin-left: 37%;
        color: var(--gray-3);
        width: 30px;
        height: 30px;
        background-color: #8c97dc;
        border-radius: 50%;
        padding: 10px 12px 10px 8px;
      }

      swiper-container::part(button-next) {
        position: absolute;
        z-index: 2;
        margin-top: 25%;
        margin-right: 37%;
        color: var(--gray-3);
        width: 30px;
        height: 30px;
        background-color: #8c97dc;
        border-radius: 50%;
        padding: 10px 8px 10px 12px;
      }

      .grid {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
      }

      .row {
        display: flex;
        justify-content: space-between;
      }

      .row .collab-item {
        width: 81.67px;
        height: 81.67px;
        border-radius: 50%;
        background-color: #5e65b5;
        border: solid 5px #5e65b5;
        cursor: pointer;
        position: relative;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: relative;
          z-index: 1;
          border-radius: 50%;
        }

        .collab-item-selected {
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          border: solid 1px #8c97dc;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }

      .row:nth-child(1) {
        height: 115px;
        width: 80%;

        .collab-item:nth-child(1) {
          margin-top: 8px;
        }

        .collab-item:nth-child(2) {
          width: 73px;
          height: 73px;
          margin-top: 41px;
        }

        .collab-item:nth-child(3) {
          width: 106px;
          height: 106px;
        }

        .collab-item:last-child {
          width: 90px;
          height: 90px;
          margin-top: 24px;
        }
      }

      .row:nth-child(2) {
        height: 136px;
        margin-inline-start: 25px;

        .collab-item:nth-child(1) {
          width: 105px;
          height: 105px;
        }

        .collab-item:nth-child(2) {
          width: 94px;
          height: 94px;
          margin-top: 28px;
        }

        .collab-item:nth-child(3) {
          width: 77px;
          height: 77px;
        }

        .collab-item:last-child {
          width: 136px;
          height: 136px;
          margin-top: 12px;
        }
      }

      .row:last-child {
        justify-content: center;
        gap: 80px;

        .collab-item:nth-child(1) {
          width: 82px;
          height: 82px;
          margin-top: -10px;
          margin-left: -50px;
        }

        .collab-item:last-child {
          width: 96px;
          height: 96px;
          margin-top: -20px;
        }
      }
    }

    .collaborator-detail-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      color: var(--gray-3);

      .collaborator-img {
        height: 210px;
        aspect-ratio: 1 / 1;
        border-radius: 6px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
          object-fit: cover;
          object-position: center;
        }
      }
      .collaborator-name {
        font-family: "Ruberoid-semibold";
        font-size: 30px;
        margin-block: 22px 14px;
        text-align: end;
      }

      .collaborator-description {
        font-family: "plusjakartasans-light";
        font-size: 16px;
        margin-block: 0 14px;
        text-align: end;
      }

      .embajadores-tag-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: flex-end;
      }

      .collaborator-group {
        width: fit-content;
        border-radius: 20px;
        border: 2px solid#7c7edf;
        padding: 10px 15px;
        gap: 10px;
        color: #eef3f8;
        font-family: "ruberoid-medium";
        font-size: 18px;
        text-wrap: nowrap;
      }

      .collaborator-social-media {
        display: flex;
        flex-direction: row;
        gap: 32px;
        padding: 0;

        .social-media-item {
          cursor: pointer;
          text-decoration: none;
          display: flex;
          width: 25px;
          height: 25px;
          padding: 3.125px 3.126px;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background: #fff;
        }
      }
    }
  }

  .purple-button-shadow {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc((1312.449 / 1440) * 100%);
    height: 15%;
    flex-shrink: 0;
    border-radius: 1312.449px;
    background: #615ec5;
    filter: blur(250px);
  }

  .blue-swiper-shadow {
    position: absolute;
    left: 0;
    top: 50%;
    width: calc((886.61 / 1440) * 100%);
    height: calc((512.584 / 1440) * 100%);
    border-radius: 886.61px;
    background: #2e64f4;
    filter: blur(250px);
  }
}
