<section class="collaborators-container">
  <div class="collaborators-buttons-container">
    <button
      class="collaborators-button"
      [class.collaborators-button-selected]="collabsButtonSelected"
      (click)="changeCollabsButton(true)"
    >
      <div
        [class.inner-button-selected]="collabsButtonSelected"
        class="inner-button"
      >
        Colaboradores
      </div>
    </button>
    <button
      class="collaborators-button embajador-button"
      [class.collaborators-button-selected]="!collabsButtonSelected"
      (click)="changeCollabsButton(false)"
    >
      <div
        [class.inner-button-selected]="!collabsButtonSelected"
        class="inner-button"
      >
        Embajadores
      </div>
    </button>

    <img
      class="collaborators-intersect"
      src="/assets/images/community/Intersect.png"
      alt=""
    />

    <img
      class="collaborators-animated-bot"
      src="/assets/images/community/ROBOTITO-6--unscreen.gif"
      alt=""
    />
  </div>

  <h2 class="collaborators-title">
    @if(collabsButtonSelected){Colaboradores}@else{Embajadores}
  </h2>

  <p class="collaborators-subtitle">
    @if(collabsButtonSelected){Conocimiento en acción. Profesionales que suman
    experiencia y visión al ecosistema AECODE.}@else{Liderazgo, aprendizaje y
    comunidad. Estudiantes que amplían sus horizontes más allá de la
    universidad.}
  </p>

  <div class="collaborators-carousel-container">
    @if(collabsButtonSelected) {

    <div class="collaborators-video-container">
      <img
        class="collaborators-video"
        src="/assets/images/community/Copia de COMUNIDAD AECODE VIDEOS (385 x 275 px) (1).gif"
        alt=""
      />

      <a
        class="collab-form-button"
        href="https://forms.gle/dVS6su12nLeBUGAu6"
        target="_blank"
        >Quiero ser colaborador</a
      >
    </div>

    }@else {

    <app-partners-swiper (itemSelected)="selectItem($event)" />

    }

    <div class="" [class.detail-container]="!collabsButtonSelected">
      @if(collabsButtonSelected) {
      <app-collabs-swiper />

      }@else {
      <div class="collaborator-img">
        <img
          src="{{ itemDataSelected.image_url }}"
          alt="Image of {{ itemDataSelected.name }}"
          loading="lazy"
        />
      </div>

      <h3 class="collaborator-name">{{ itemDataSelected.name }}</h3>
      @if(!collabsButtonSelected){
      <p class="collaborator-description">
        {{ itemDataSelected.description }}
      </p>

      } @if(!collabsButtonSelected){
      <span class="collaborator-group">
        {{ itemDataSelected.group }}
      </span>
      }@else{
      <div class="embajadores-tag-list">
        <!-- @for(item of itemDataSelected.tag_list.slice(0, 3); track item){
          <span class="collaborator-group">
            {{ item }}
          </span>
          } -->
      </div>
      } }
    </div>
  </div>

  <div class="purple-button-shadow"></div>
  <div class="blue-swiper-shadow"></div>
</section>
