<div class="course-item-container">
  <div class="course-presentation-container">
    <img class="course-img" src="assets\images\course-test-img.svg" alt="" />

    <span class="course-status">30%</span>

    <div class="course-tags">
      <div class="course-icons">
        <div class="icon-container"><img src="" alt="" /></div>
        <div class="icon-container"><img src="" alt="" /></div>
      </div>

      <div class="course-details-cointainer">
        <div class="course-details-content">
          <app-course-session-icon class="icon" />
          <span class="detail-description">
            {{ freeModule.units.length }} sesiones</span
          >
        </div>
        <div class="course-details-content">
          <app-watch-icon class="icon" />
          <span class="detail-description"> {{ freeModule.hours }} horas</span>
        </div>

        <div class="course-price">
          <span class="course-old-price">$299</span>
          <span class="course-new-price">$0.00</span>
        </div>
      </div>
    </div>

    <button class="reserve-button" (click)="redirectToCourse()">
      Acceso Libre
    </button>
  </div>

  <div class="course-details">
    <h2 class="course-title">
      M{{ freeModule.orderNumber }}: {{ freeModule.title }}
    </h2>
  </div>
</div>
