<div class="extra-information-container">
  <div class="what-to-learn-container">
    <h2 class="section-title">¿QUE LOGRARAS?</h2>
    <p class="section-description">
      {{ courseAchievements }}
    </p>
  </div>

  <div class="benefits-schedule-container">
    <div class="benefits-container">
      <h2 class="section-title">BENEFICIOS</h2>
      <div class="benefits-content">
        <ul class="benefits-list">
          @for(benefitItem of courseBenefits; track benefitItem) {
          <li>{{ benefitItem }}</li>

          }
        </ul>
      </div>
    </div>

    <div class="horarios-container">
      <h2 class="section-title">HORARIOS</h2>
      <div class="horarios-description">
        {{ courseSchedule }}
      </div>
    </div>
  </div>

  <div class="question-container">
    <h2 class="section-title">PREGUNTAS FRECUENTES</h2>
    <div class="question-content">
      <ul class="question-list">
        @for (faqItem of courseFaqs; track faqItem) {
        <li><app-caret-up-icon /> {{ faqItem.questionText }}</li>

        }
      </ul>
    </div>
  </div>
</div>
