<div class="extra-information-container">
  <div class="extra-info-col-1">
    <div class="what-to-learn-container">
      <h2 class="section-title">¿QUE LOGRARAS?</h2>
      <p class="section-description">
        {{ courseAchievements }}
      </p>
    </div>

    <div class="tools-container">
      <h2 class="section-title tools-title">HERRAMIENTAS</h2>

      <div class="slider-wrapper">
        <div class="slider">
          @for (item of loopList; track item) { @for( toolItem of toolList;
          track toolItem) {
          <img
            class="tool-img"
            [src]="toolItem.picture"
            alt="{{ toolItem.name }} icon image"
          />
          } }
        </div>
      </div>
    </div>
  </div>

  <div class="benefits-container">
    <h2 class="section-title">BENEFICIOS</h2>
    <div class="benefits-content">
      <ul class="benefits-list">
        @for(benefitItem of courseBenefits; track benefitItem) {
        <li>{{ benefitItem }}</li>

        }
      </ul>
    </div>
  </div>
</div>

<div class="question-container">
  <h2 class="question-title">PREGUNTAS FRECUENTES</h2>
  <div class="question-list">
    @for (faqItem of courseFaqs; track faqItem) {
    <app-fap-dropdown-item
      [faqItem]="faqItem"
      (questionSelectedEvent)="selectQuestion($event)"
      [faqIdSelected]="freqQuestIdSelected"
    />

    }
  </div>
</div>
