.section-title {
  width: 100%;
  padding: 17px 25px;
  margin: 0;
  display: flex;
  color: white;
  font-family: "plusjakartasans-bold";
  font-size: 24px;
  border-radius: 6px 6px 0 0;
  background: var(--purple-2);
}

.extra-information-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 346px;
  gap: 32px;
  padding-bottom: 22px;
  align-items: stretch;

  .extra-info-col-1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;

    .section-description {
      width: 100%;
      height: 100px;
      padding: 15px 25px 20px 25px;
      margin: 0;
      border-radius: 0px 0px 2px 2px;
      background: #eef3f8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      line-height: 20px;
    }

    .tools-container {
      width: 100%;

      .tools-title {
        border-radius: 6px 6px 0 0;
      }

      .slider-wrapper {
        min-height: 100px;
        width: 100%;
        overflow: hidden;
        border-radius: 0 0 6px 6px;
        border: 1px solid var(--blanco, #fff);
        background: var(--Gris-3, #eef3f8);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;

        .slider {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          gap: 71px;
          animation: slider 20s linear infinite;

          .tool-img {
            height: 58px;
            flex-shrink: 1;
          }
        }
      }
    }
  }

  .benefits-container {
    display: flex;
    flex-direction: column;

    .benefits-content {
      flex: 1;
      width: 100%;
      border-radius: 0px 0px 2px 2px;
      border: 1px solid #fff;
      background: #eef3f8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .benefits-list {
        li {
          margin-bottom: 5px;
          font-size: 16px;
        }
      }
    }
  }
}

@keyframes slider {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(-88%);
  }
}

.question-container {
  width: 100%;
  border-radius: 6px;
  background-color: var(--purple-2);
  color: white;
  font-family: "plusjakartasans-semibold";
  padding: 30px 37px;

  .question-title {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    color: white;
    font-family: "plusjakartasans-bold";
    font-size: 24px;
    border-radius: 6px 6px 0 0;
    background: var(--purple-2);
  }

  .question-list {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    user-select: none;
  }
}

.dark-extra-information-container {
  .extra-info-col-1 {
    .what-to-learn-container {
      .section-title {
        border: 1px solid #fff;
        background: #4a3ac1;
        border-bottom: none;
      }

      .section-description {
        border: 1px solid #fff;
      }
    }

    .section-description {
      background: transparent;
    }

    .tools-container {
      width: 100%;

      .tools-title {
        border: 1px solid #fff;
        border-radius: 4px 4px 0px 0px;
        background: #4a3ac1;
        border-bottom: none;
      }

      .slider-wrapper {
        border: 1px solid #fff;
        border-radius: 0px 0px 4px 4px;
        background: transparent;
      }
    }
  }

  .benefits-container {
    .section-title {
      background-color: #4a3ac1;
      border: 1px solid #fff;
      border-bottom: none;
    }

    .benefits-content {
      background: transparent;
    }
  }
}

.dark-question-container {
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;

  .question-title {
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    padding: 12px 10px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
  }

  .extra-information-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;

    .extra-info-col-1 {
      gap: 20px;

      .section-description {
        padding: 8px 12px;
        margin: 0;
        height: auto;
      }

      .tools-container {
        .tools-title {
          border-radius: 6px 6px 0 0;
        }

        .slider-wrapper {
          min-height: 57px;

          .slider {
            gap: 24px;

            .tool-img {
              height: 30px;
            }
          }
        }
      }
    }

    .horarios-container {
      .horarios-description {
        height: auto;
        padding: 13px 52px 26px 14px;
      }
    }

    .benefits-container {
      .benefits-content {
        height: auto;

        .benefits-list {
          display: flex;
          flex-flow: column nowrap;
          padding-inline: 25px;

          li {
            margin-bottom: 4px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .question-container {
    padding: 15px 12px;

    .question-title {
      margin: 0 0 15px 0;
      font-size: 16px;
    }

    .question-list {
      gap: 5px;
    }
  }
}
