.section-title {
  width: 100%;
  padding: 17px 25px;
  margin: 0;
  display: flex;
  color: white;
  font-family: "plusjakartasans-bold";
  font-size: 24px;
  border-radius: 6px 6px 0 0;
  background: var(--purple-2);
}

.extra-information-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 346px;
  gap: 32px;
  padding-bottom: 22px;
  align-items: stretch;

  .extra-info-col-1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;

    .section-description {
      width: 100%;
      height: 100px;
      padding: 15px 25px 20px 25px;
      margin: 0;
      border-radius: 0px 0px 2px 2px;
      background: #eef3f8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      line-height: 20px;
    }

    .tools-container {
      width: 100%;

      .tools-title {
        border-radius: 6px 6px 0 0;
      }

      .slider-wrapper {
        min-height: 100px;
        width: 100%;
        overflow: hidden;
        border-radius: 0 0 6px 6px;
        border: 1px solid var(--blanco, #fff);
        background: var(--Gris-3, #eef3f8);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;

        .slider {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          gap: 71px;
          animation: slider 20s linear infinite;

          .tool-img {
            height: 58px;
            flex-shrink: 1;
          }
        }
      }
    }
  }

  .benefits-container {
    display: flex;
    flex-direction: column;

    .benefits-content {
      flex: 1;
      width: 100%;
      border-radius: 0px 0px 2px 2px;
      border: 1px solid #fff;
      background: #eef3f8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .benefits-list {
        li {
          margin-bottom: 5px;
          font-size: 16px;
        }
      }
    }
  }
}

@keyframes slider {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(-88%);
  }
}

.question-container {
  width: 100%;
  border-radius: 6px;
  background-color: var(--purple-2);
  color: white;
  font-family: "plusjakartasans-semibold";
  padding: 30px 37px;

  .question-title {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    color: white;
    font-family: "plusjakartasans-bold";
    font-size: 24px;
    border-radius: 6px 6px 0 0;
    background: var(--purple-2);
  }

  .question-list {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    user-select: none;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    padding: 12px 10px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
  }

  .extra-information-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;

    .section-description {
      width: 100%;
      height: auto;
      padding: 8px 12px;
      margin: 0;
    }

    .horarios-container {
      .horarios-description {
        height: auto;
        padding: 13px 52px 26px 14px;
      }
    }

    .benefits-schedule-container {
      display: flex;
      flex-flow: column nowrap;
      gap: 19px;

      .benefits-container {
        .benefits-content {
          height: auto;

          .benefits-list {
            display: flex;
            flex-flow: column nowrap;
            padding-inline: 25px;

            li {
              margin-bottom: 4px;
            }
          }
        }
      }
    }

    .question-container {
      border-radius: 4px;

      .question-content {
        display: flex;
        flex-flow: column nowrap;

        .question-list {
          margin: 0px 8px 25px;
          padding: 0;
        }

        .asesor-button {
          width: 152px;
          height: fit-content;
          padding: 2px 22px 5px 10px;
          margin: 15px auto;
          border-radius: 4px;
          font-size: 12px;

          .whatsapp-button {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            right: -10%;
            top: 50%;

            img {
              width: 24px;
            }
          }
        }
      }
    }
  }
}
