<section class="partners-container">
  <h2 class="partners-title">Partners</h2>

  <p class="partners-subtitle">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum
  </p>

  <div class="partners-buttons-container">
    <button
      class="partners-button"
      [class.partners-button-selected]="companyButtonSelected"
      (click)="companyButtonSelected = true"
    >
      Empresas
    </button>
    <button
      class="partners-button"
      [class.partners-button-selected]="!companyButtonSelected"
      (click)="companyButtonSelected = false"
    >
      Grupos Estudiantiles
    </button>
  </div>

  <div class="partners-logos">
    @if(companies) { @for (item of companyButtonSelected ? companies :
    student_groups; track item) {
    <app-partner-item [partnerItem]="item" />

    } } @else {
    <app-loader /> }
  </div>
</section>
