.invest-container {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 4px 4px;
  background: #eef3f8;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);

  .invest-title {
    padding: 12px 25px;
    text-align: center;
    margin: 0;
    color: var(--purple-2);
    font-family: "plusjakartasans-bold";
    font-size: 20px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #fff;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
  }

  .invest-content {
    padding: 50px 20px 32px;

    .investDetail {
      .invest-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-family: "plusjakartasans-semibold";
        margin-bottom: 30px;
        font-size: 18px;
        background: #ececff;
        padding-block: 10px;

        .cupon-input {
          width: 100px;
          height: 29px;
          border-radius: 2px;
          border: 1px solid #99a3a8;
          background: white;
          outline: none;
          padding-inline: 8px;
          font-family: "plusjakartasans-semibold";
        }
      }
    }

    .invest-button {
      display: flex;
      justify-content: center;
      padding: 12px 20px;
      margin: 23px auto;
      gap: 8px;
      border-radius: 4px;
      color: white;
      background: var(--purple-2);
      font-family: "plusjakartasans-semibold";
      font-size: 16px;
      border: none;
      cursor: pointer;
      text-decoration: none;

      .shop-cart-icon {
        fill: white;
        display: flex;
        width: 20px;
        height: 20px;
      }
    }

    .invest-question {
      display: flex;
      justify-content: center;
      margin-block: 30px 15px;
      font-family: "plusjakartasans-semibold";
      font-size: 16px;
    }

    .invest-description {
      color: #636364;
      text-align: center;
      font-family: "plusjakartasans-light";
      font-size: 16px;
      margin-block: 0px 30px;
    }

    .invest-whatsapp-button {
      display: flex;
      width: 238px;
      height: 50px;
      color: black;
      margin-inline: auto;
      margin-top: 23px;
      padding: 10px 0px 10px 16px;
      align-items: center;
      border-radius: 4px;
      border: 2px solid #fff;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.1) 57.6%,
        rgba(255, 255, 255, 0.02) 91.06%
      );
      box-shadow: 0px 0px 6.8px 0px #b4bbbf;
      backdrop-filter: blur(25px);
      text-decoration: none;
      font-family: "plusjakartasans-semibold";
      font-size: 16px;
      cursor: pointer;
      position: relative;

      .whatsapp-button {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: linear-gradient(
          180deg,
          #d6dceb 10%,
          rgba(255, 255, 255) 100%
        );
        flex-shrink: 0;
        position: absolute;
        right: -15%;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid white;
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.15);

        img {
          width: 30px;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .invest-container {
    .invest-title {
      padding: 12px 25px;
      text-align: center;
      font-size: 18px;
    }

    .invest-options {
      display: flex;
      flex-flow: row nowrap;

      span {
        width: 50%;
        font-size: 16px;
      }
    }

    .invest-content {
      padding: 30px 16px;

      .investDetail {
        .invest-item {
          margin-bottom: 30px;
          font-size: 16px;
        }
      }

      .invest-button {
        padding: 10px 20px;
        font-size: 14px;

        .shop-cart-icon {
          fill: white;
          display: flex;
          width: 20px;
          height: 20px;
        }
      }

      .invest-question {
        font-size: 14px;
        text-wrap: nowrap;
      }

      .invest-description {
        font-size: 14px;
        margin-block: 0px 15px;
      }

      .invest-whatsapp-button {
        display: flex;
        width: 238px;
        height: 50px;
        color: black;
        margin-inline: auto;
        margin-top: 23px;
        padding: 10px 0px 10px 16px;
        align-items: center;
        border-radius: 4px;
        border: 2px solid #fff;
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0.1) 57.6%,
          rgba(255, 255, 255, 0.02) 91.06%
        );
        box-shadow: 0px 0px 6.8px 0px #b4bbbf;
        backdrop-filter: blur(25px);
        text-decoration: none;
        font-family: "plusjakartasans-semibold";
        font-size: 16px;
        cursor: pointer;
        position: relative;

        .whatsapp-button {
          width: 55px;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: linear-gradient(
            180deg,
            #d6dceb 10%,
            rgba(255, 255, 255) 100%
          );
          flex-shrink: 0;
          position: absolute;
          right: -15%;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid white;
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.15);

          img {
            width: 30px;
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }
}
