.invest-container {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background: #eef3f8;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);

  .invest-title {
    padding: 12px 25px;
    text-align: center;
    margin: 0;
    color: var(--purple-2);
    font-family: "plusjakartasans-bold";
    font-size: 20px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #fff;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
  }

  .invest-options {
    display: flex;
    flex-flow: row nowrap;

    span {
      width: 50%;
      padding-block: 17px;
      font-family: "plusjakartasans-semibold";
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid #8f60ea;
      cursor: pointer;
      position: relative;

      .invest-line {
        width: 100%;
        height: 3px;
        border-radius: 4px;
        opacity: 0.8;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: var(--purple-2);
      }
    }
  }

  .invest-content {
    padding: 36px 20px;

    .investDetail {
      .invest-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-family: "plusjakartasans-semibold";
        margin-bottom: 30px;
        font-size: 18px;

        .cupon-input {
          width: 100px;
          height: 29px;
          border-radius: 2px;
          border: 1px solid #99a3a8;
          background: white;
          outline: none;
          padding-inline: 8px;
          font-family: "plusjakartasans-semibold";
        }
      }
    }

    .invest-button {
      display: flex;
      justify-content: center;
      padding: 12px 20px;
      margin: 23px auto;
      gap: 8px;
      border-radius: 4px;
      color: white;
      background: var(--purple-2);
      font-family: "plusjakartasans-semibold";
      font-size: 16px;
      border: none;
      cursor: pointer;
      text-decoration: none;
    }

    .invest-question {
      display: flex;
      justify-content: center;
      margin-block: 10px 5px;
      font-family: "plusjakartasans-semibold";
      font-size: 16px;
    }

    .invest-question-info {
      display: flex;
      justify-content: center;
      color: #636364;
      font-family: "plusjakartasans-regular";
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .invest-container {
    .invest-title {
      padding: 12px 25px;
      text-align: center;
      font-size: 18px;
    }

    .invest-options {
      display: flex;
      flex-flow: row nowrap;

      span {
        width: 50%;
        font-size: 16px;
      }
    }

    .invest-content {
      .investDetail {
        .invest-item {
          margin-bottom: 30px;
          font-size: 16px;
        }
      }
    }
  }
}
