<div class="invest-container">
  <h3 class="invest-title">INVERSION</h3>

  <div class="invest-options">
    <span (click)="investOptionSelected = !investOptionSelected"
      >Regular @if (!investOptionSelected) {
      <div class="invest-line"></div>
      }
    </span>
    <span (click)="investOptionSelected = !investOptionSelected"
      >Especial @if (investOptionSelected) {
      <div class="invest-line"></div>
      }
    </span>
  </div>

  <div class="invest-content">
    <div class="investDetail">
      <div class="invest-item">
        <span> Inversion: </span>
        <span> 140$ </span>
      </div>
      <div class="invest-item">
        <span> Cupón de descuento: </span>
        <input class="cupon-input" type="text" />
      </div>
      <div class="invest-item">
        <span> Descuento: </span>
        <span> -41$ </span>
      </div>
      <div class="invest-item">
        <span> Total: </span>
        <span> 99$ </span>
      </div>
    </div>

    <button class="invest-button">PAGAR</button>

    <span class="invest-question">¿BUSCAS FINANCIAMIENTO?</span>
    <span class="invest-question-info">Fraccionamiento de 2 a 4 cuotas</span>

    <a
      class="invest-whatsapp-button"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=+51900121245&text=Hola%20AECODE.%20Quiero%20conversar%20con%20un%20asesor%20%F0%9F%99%8C"
    >
      SOLICITAR
      <div class="whatsapp-button">
        <img src="assets\images\whatsapp-icon.png" alt="" />
      </div>
    </a>
  </div>
</div>
