<app-course-overlay>
  @if (secondaryCourseData$ | async; as secondaryCourseData) {
  <main class="course-landing-detail-container">
    <div class="course-landing-presentation">
      <h2 class="course-landing-title">{{ secondaryCourseData.title }}</h2>
      <h3 class="course-landing-subtitle">¡Este curso es para ti!</h3>

      <div class="course-landing-presentation-box">
        <p class="course-description">
          {{ secondaryCourseData.description }}
        </p>

        <div class="video-container" (click)="showIntroVideo = true">
          <img
            class="course-video"
            src="{{ secondaryCourseData.principalimage | addBaseUrl }}"
            alt=""
          />
          <a
            class="access-button"
            target="_blank"
            href="{{ secondaryCourseData.exterallink }}"
            >Accede a la Masterclass</a
          >

          <app-play-icon class="play-icon" />
        </div>
      </div>
    </div>

    <div class="course-landing-details-box">
      <div class="row-1">
        <div class="col-1">
          <div class="plan-estudio-container">
            <div class="section-title plan-title">
              <h2>PLAN DE ESTUDIOS</h2>
              <div class="plan-tags">
                <div class="tag-item">
                  <app-unit-course-icon class="icon" />
                  @if (courseUnitsNumber$ | async; as units) {
                  {{ units }} unidades }
                </div>
                <div class="tag-item">
                  <app-course-session-icon class="session-icon" />
                  @if (courseSessionsNumber$ | async; as sessions) {
                  {{ sessions }} sesiones }
                </div>
                <div class="tag-item">
                  <app-watch-icon class="watch-icon" />
                  @if (courseHoursNumber$ | async; as units) {
                  {{ units }} hrs }
                </div>
              </div>
            </div>

            <div class="units-list">
              @for (studyplanItem of secondaryCourseData.studyplans; track
              studyplanItem) {
              <app-course-landing-unit [studyplanItem]="studyplanItem" />
              }
            </div>
          </div>

          <div class="tools-container">
            <h2 class="section-title tools-title">HERRAMIENTAS</h2>

            <div class="slider-wrapper">
              <div class="slider">
                @for (item of loopList; track item) { @for( toolItem of
                secondaryCourseData.tools; track toolItem) {
                <img
                  class="tool-img"
                  [src]="url_base + toolItem.picture"
                  alt="{{ toolItem.name }} icon image"
                />
                } }
              </div>
            </div>
          </div>
        </div>

        <app-course-invest
          [priceAcademy]="secondaryCourseData.priceAcademy"
          [priceRegular]="secondaryCourseData.priceRegular"
          [discount]="secondaryCourseData.percentage"
          [courseTitle]="secondaryCourseData.title"
        />
      </div>

      <app-course-extra-information
        [courseAchievements]="secondaryCourseData.achievement"
        [courseBenefits]="secondaryCourseData.benefits"
        [courseFaqs]="secondaryCourseData.freqquests"
        [courseSchedule]="secondaryCourseData.schedule"
      />
    </div>
  </main>

  <app-modal [isOpen]="showIntroVideo" (isClosed)="showIntroVideo = $event">
    @if (youtubeVideo$ | async; as youtubeVideo) {
    <iframe
      [src]="youtubeVideo"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="intro-video"
    ></iframe>
    }
  </app-modal>

  } @else {
  <app-loader />
  }
</app-course-overlay>
