.course-landing-detail-container {
  width: 100%;
  padding: 30px 50px;

  .program-title {
    color: #381187;
    text-align: center;
    font-family: "ruberoid-semibold";
    font-size: 50px;
    margin-inline: auto;
    margin-top: 0;
  }

  .course-landing-presentation {
    margin-bottom: 50px;
    border-radius: 6px;
    border: 1px solid white;
    background: #eef3f8;
    box-shadow: 0px 0px 5px 2px rgba(120, 55, 221, 0.1);

    .program-modules-container {
      width: 100%;
      padding: 18px 23px;
      display: flex;
      gap: 16px;

      .module-item {
        flex: 1;
        padding-block: 17px;
        text-align: center;
        font-size: 16px;
        font-family: "plusjakartasans-semibold";
        color: #636364;
        border-radius: 4px;
        border: 1px solid #381187;
        background-color: transparent;
        cursor: pointer;
      }

      .module-selected {
        background-color: var(--purple-2);
        color: white;
      }
    }

    .course-landing-presentation-box {
      display: flex;
      flex-flow: row nowrap;
      gap: 34px;
      padding: 38px 30px 31px;

      .course-landing-detailes {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin: 0 0 10px 0;
        }

        .course-landing-title {
          margin: 0;
          color: #381187;
          font-family: "Ruberoid-semibold";
          font-size: 25px;
        }

        .course-landing-subtitle {
          font-family: "plusjakartasans-regular";
          font-size: 20px;
        }

        .course-description {
          margin: 0;
          font-family: "plusjakartasans-light";
          line-height: 24px;
        }

        .course-dates-container {
          display: flex;
          flex-direction: row;
          gap: 42px;
          align-items: stretch;

          .date-container {
            flex: 1;
            border-radius: 6px;
            font-family: "plusjakartasans-bold";
            text-align: center;
            display: flex;
            flex-direction: column;

            .date-title {
              margin: 0;
              padding-block: 12px;
              width: 100%;
              border-radius: 6px 6px 0px 0px;
              background: #381187;
              color: white;
              font-family: "plusjakartasans-bold";
            }

            .date-content {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex: 1;
              padding: 12px 30px;
              border: 1px solid #fff;
              background: #eef3f8;
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              border-radius: 0px 0px 6px 6px;
            }
          }
        }
      }

      .video-container {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;

        .course-video {
          width: 100%;
          aspect-ratio: 16/9;
          cursor: pointer;
          position: relative;
          border-radius: 6px;
          border: 1px solid var(--Gris-0, #99a3a8);
          background: lightgray 50% / cover no-repeat;
          box-shadow: 0px 0px 4px 2px rgba(180, 187, 191, 0.49);
        }

        .course-mode {
          width: fit-content;
          border-radius: 4px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          padding: 5px;
          gap: 10px;
          color: #eef3f8;
          font-family: "ruberoid-semibold";
          font-size: 15px;
          background-color: #d50b0b;
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 1;

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            fill: #eef3f8;
          }

          .async-icon {
            stroke: #eef3f8;
          }
        }

        .async-course-button {
          background: #115e32;
        }

        .coming-soon-course-button {
          background: #4465ee;
        }

        .masive-course-button {
          border-radius: 4px;
          border: 1px solid #7837dd;
          background: #381187;
        }

        .masive-course-button-progra {
          border: 1px solid #4465ee;
          background: #203aa5;
        }

        .buttons-video-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 35px;

          .access-button {
            flex: 1;
            padding: 12px 20px;
            font-family: "plusjakartasans-semibold";
            border-radius: 4px;
            border: 1px solid var(--purple-2);
            background: var(--purple-2);
            color: white;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 11px;
          }
        }

        .play-icon {
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          cursor: pointer;
        }
      }
    }
  }

  .course-landing-details-box {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    font-family: "plusjakartasans-regular";
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid white;
    box-shadow: 0px 0px 6.2px 5px #b4bbbf;

    .section-title {
      width: 100%;
      padding: 17px 25px;
      margin: 0;
      display: flex;
      color: white;
      font-family: "plusjakartasans-bold";
      font-size: 24px;
      border-radius: 6px 6px 0 0;
      background: var(--purple-2);
    }

    .units-list {
      display: flex;
      flex-flow: column nowrap;
      gap: 0;
      overflow-y: auto;
    }

    .section-description {
      width: 100%;
      height: 100px;
      padding: 15px 25px 20px 25px;
      margin: 0;
      border-radius: 0px 0px 2px 2px;
      background: #eef3f8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      line-height: 20px;
    }

    .row-1 {
      display: grid;
      grid-template-columns: auto 346px;
      grid-template-rows: 590px;
      column-gap: 32px;

      .col-1 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .plan-estudio-container {
          margin-bottom: 30px;
          flex: 1;
          overflow: hidden;
          display: flex;
          flex-direction: column;

          .plan-title {
            justify-content: space-between;
            align-items: center;
            padding-right: 87px;

            h2 {
              margin: 0;
              font-size: 24px;
            }

            .plan-tags {
              display: flex;
              flex-flow: row nowrap;
              gap: 68px;
              font-size: 14px;
              font-family: "plusjakartasans-semibold";
              text-wrap: nowrap;

              .tag-item {
                display: flex;
                flex-flow: row nowrap;
                gap: 6px;
              }

              .icon {
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .watch-icon {
                fill: white;
              }
            }
          }

          .unit-item {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 10px 25px;
            color: var(--Negro, #000);
            font-family: "plusjakartasans-regular";
            font-size: 16px;
            border: 1px solid white;
            background: #eef3f8;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
            position: relative;
            z-index: 1;
            cursor: pointer;

            .icon {
              fill: var(--purple-2);
            }
          }

          .plan-list {
            margin: 0;
            padding: 13px 45px;
            border-radius: 0px 0px 2px 2px;
            border: 1px solid white;
            background: #eef3f8;
            position: relative;
            z-index: 0;

            li {
              margin-bottom: 4px;
            }
          }
        }

        .requirements-container {
          display: flex;
          flex-direction: column;

          .requirements-content {
            flex: 1;
            width: 100%;
            border-radius: 0px 0px 2px 2px;
            border: 1px solid #fff;
            background: #eef3f8;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .requirements-list {
              li {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.loader-view {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slider {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(-88%);
  }
}

.intro-video {
  width: 1068px;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 768px) {
  .course-landing-detail-container {
    .course-landing-presentation {
      padding: 20px 14px;
      margin-bottom: 25px;

      .course-landing-title {
        margin: 0;
        font-size: 20px;
      }

      .course-landing-subtitle {
        font-size: 16px;
      }

      .course-landing-presentation-box {
        display: flex;
        flex-flow: column nowrap;
        gap: 47px;

        .course-description {
          max-height: 144px;
          text-overflow: ellipsis;
          overflow-y: hidden;
          font-size: 14px;
        }

        .video-container {
          .access-button {
            font-size: 14px;
          }
        }
      }
    }

    .course-landing-details-box {
      padding-inline: 0;
      gap: 35px;
      font-size: 12px;

      .section-title {
        width: 100%;
        padding: 11px 10px;
        font-size: 16px;
        border-radius: 4px 4px 0 0;
      }

      .row-1 {
        display: flex;
        flex-flow: column nowrap;
        gap: 35px;

        .col-1 {
          .plan-estudio-container {
            margin-bottom: 35px;

            .plan-title {
              width: 100%;
              justify-content: space-between;
              align-items: center;
              text-wrap: nowrap;

              h2 {
                margin: 0;
                font-size: 16px;
              }

              .plan-tags {
                gap: 5px;
                font-size: 10px;

                .tag-item {
                  display: flex;
                  flex-flow: row nowrap;
                  align-items: center;
                  gap: 4px;
                }

                .icon {
                  display: flex;
                  width: 12px;
                }

                .session-icon,
                .watch-icon {
                  display: flex;
                  width: 16px;
                }
              }
            }

            .unit-item {
              padding: 10px;
              font-size: 14px;
              align-items: center;

              .icon {
                width: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .plan-list {
              padding: 13px 28px;

              li {
                margin-bottom: 5px;
              }
            }
          }

          .tools-container {
            .tools-title {
              border-radius: 4px;
            }

            .slider-wrapper {
              width: 100%;
              max-width: 692px;
              margin: 43px 0 0 0;

              .slider {
                gap: 34px;
                animation: slider 20s linear infinite;

                .tool-img {
                  width: 40px;
                  height: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  .intro-video {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
