<div class="terms-container">
  <div class="term-item">
    <p class="term-title">1. Sobre AECODE</p>
    <p class="term-description">
      AECODE es una comunidad de aprendizaje técnico especializada en ingeniería
      civil, automatización, modelamiento digital y programación aplicada.
      Ofrecemos programas educativos en modalidad virtual en vivo, grabada o
      bajo demanda. Está legalmente constituida con domicilio en Lima, Perú con
      RUC 20612376337
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">2. Registro del Usuario</p>
    <p class="term-description">
      Para acceder a nuestros cursos o servicios es necesario completar un
      registro con datos verdaderos y actualizados. El usuario es responsable de
      mantener la confidencialidad de su cuenta.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">3. Uso Aceptable del Sitio</p>
    <p class="term-description">Está prohibido:</p>

    <ul>
      <li>Compartir el acceso a clases o material sin autorización.</li>
      <li>Distribuir, copiar o revender contenido sin permiso.</li>
      <li>
        Realizar actos que comprometan la seguridad del sitio o interfieran con
        su funcionamiento.
      </li>
      <li>
        Cualquier uso indebido puede conllevar la suspensión del acceso sin
        reembolso.
      </li>
    </ul>
  </div>
  <div class="term-item">
    <p class="term-title">4. Propiedad Intelectual</p>
    <p class="term-description">
      Todo el contenido publicado por AECODE (videos, guías, códigos, clases,
      imágenes, etc.) está protegido por derechos de autor. Su reproducción
      total o parcial sin autorización está prohibida.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">5. Inscripciones y Pagos</p>
    <p class="term-description">
      La inscripción a un curso se confirma al completarse el pago. Toda la
      gestión de pagos se realiza mediante pasarelas seguras. AECODE no almacena
      datos financieros.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">6. Política de Reembolsos</p>
    <p class="term-description">
      Los reembolsos se aceptan solo antes del inicio de un curso en vivo o
      antes del acceso al contenido grabado. Una vez iniciado el servicio, no se
      realizarán devoluciones.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">7. Acceso al Contenido</p>
    <p class="term-description">
      Los reembolsos se aceptan solo antes del inicio de un curso en vivo o
      antes del acceso al contenido grabado. Una vez iniciado el servicio, no se
      realizarán devoluciones.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">8. Limitación de Responsabilidad</p>
    <p class="term-description">
      AECODE no se responsabiliza por decisiones profesionales que el usuario
      tome basándose en los contenidos del curso. Nuestro contenido es educativo
      y debe usarse como referencia.
    </p>
  </div>
  <div class="term-item">
    <p class="term-title">9. Limitación de Responsabilidad</p>
    <p class="term-description">
      Nos reservamos el derecho de actualizar estos términos. Cualquier cambio
      será comunicado a través de nuestra web o medios oficiales.
    </p>
  </div>
</div>
