<div class="in-progress-general-container">
  <app-home-header />

  <div class="in-progress-container">
    <img
      class="in-progress-img"
      src="/assets/images/in-progress/tool-kit.webp"
      alt=""
    />

    <div>
      <h1 class="status-code">Sitio en construcción</h1>
      <h2 class="in-progress-title">
        Estamos trabajando para mejorar tu experiencia
      </h2>
    </div>

    <div>
      <div class="loader-container">
        <div class="loading-progress"></div>
      </div>
      <p class="in-progress-description">
        Volveremos pronto con algo increible.
      </p>
    </div>

    <button class="in-progress-button">CONTACTANOS</button>

    <div class="in-progress-img-container">
      <div class="in-progress-img-content">
        <img
          class="in-progress-img"
          src="/assets/images/in-progress/aecodito-waiting.gif"
          alt=""
        />

        <div class="circle"></div>
      </div>
    </div>
  </div>

  <app-home-footer />
</div>
