<li
  (click)="redirectToView(headerItem)"
  class="header-item {{ themeService.getMode() | async }}-header-item "
  [style.border-color]="
    headerItemSelected.id === headerItem.id ? headerItem.colorCode : ''
  "
  [class.header-item-selected]="headerItemSelected.id === headerItem.id"
  [class.dark-header-item-selected]="
    headerItemSelected.id === headerItem.id &&
    (themeService.getMode() | async) === 'dark'
  "
  [class.is-shop-cart-item]="headerItem.id === 6"
  [class.header-without-text]="headerItem.id === 6"
>
  @switch (headerItem.id) {@case (1) {<app-chatbot-icon />} @case (2)
  {<app-home-icon /> } @case (3) {<app-home-community-icon />} @case (4)
  {<app-book-icon />} @case (5) {<app-sync-course-icon />} @case (6) {
  <app-shopping-cart-icon
    class="shopping-cart-icon"
    [class.shopping-cart-selected]="headerItemSelected.id === 6"
  />
  } } @if(headerItem.id !== 6 ) {

  {{ headerItem.name }}

  }
</li>
