.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
<<<<<<< HEAD
  padding: 10px 20px;
=======
  padding: 10px 30px;
>>>>>>> 6a701c4410546401dfde04eeed2211f8cd751a74
  cursor: pointer;
  color: var(--purple-2);
  text-decoration: none;
  font-size: 16px;
  font-family: "ruberoid-regular";
  border-radius: 25px;
<<<<<<< HEAD
  border: 2px solid transparent;

  .shopping-cart-icon {
    width: 31px;
    height: 31px;
=======

  .hide-in-desktop {
    display: none;
>>>>>>> 6a701c4410546401dfde04eeed2211f8cd751a74
  }
}

.header-item-selected {
  border: 2px solid var(--purple-2);
  font-family: "ruberoid-semibold";
}

<<<<<<< HEAD
=======
.header-item-selected {
  border: 2px solid;
}

.header-item-selected {
  border: 2px solid;
}

>>>>>>> 6a701c4410546401dfde04eeed2211f8cd751a74
.dark-header-item-selected {
  border: 2px solid #8f60ea;
  font-family: "ruberoid-semibold";

  .shopping-cart-selected {
    color: #8f60ea;
  }
}

.dark-header-item {
  color: #eef3f8;
}

.is-shop-cart-item {
  border: none;
}
<<<<<<< HEAD

@media screen and (max-width: 768px) {
  .header-item {
    gap: 5px;
    height: fit-content;
    padding: 0;
    font-size: 14px;

    .shopping-cart-icon {
      width: 24px;
      height: 24px;
    }
  }

  .header-item-selected {
    border: none;
  }
}
=======
>>>>>>> 6a701c4410546401dfde04eeed2211f8cd751a74
