<form [formGroup]="getFreeForm" class="free-content-form-container">
  <app-square-icon class="close-button" (click)="sendForm()" />

  <h3 class="subtitle-form">
    Actualizaciones, guías temáticas, sobre el curso que elijas
  </h3>

  <div class="input-container">
    <input formControlName="name" type="text" placeholder="Nombre" />
    <input formControlName="lastName" type="text" placeholder="Apellido" />
    <input
      formControlName="email"
      type="text"
      placeholder="Correo"
      class="input-email"
    />
  </div>

  <h3 class="subtitle-form">Material semanal de:</h3>

  <div
    class="course-input"
    (click)="isEngineeringSelected = !isEngineeringSelected"
  >
    <div class="course-select">
      @if(isEngineeringSelected) {
      <app-check-get-free-form-icon class="check-icon" />
      }
    </div>
    <label for="engineering-course">INGENIERIA 4.0</label>
  </div>
  <div
    class="course-input"
    (click)="isProgrammingSelected = !isProgrammingSelected"
  >
    <div class="course-select">
      @if(isProgrammingSelected) {
      <app-check-get-free-form-icon class="check-icon" />
      }
    </div>
    <label for="programming-course">PROGRAMACION DIGITAL</label>
  </div>

  <button ZoomIn class="send-button" (click)="sendForm()">ENVIAR</button>
</form>
