.tag-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 17px;
  align-items: center;
  height: fit-content;
  color: var(--purple-2);
  height: 42px;
  margin-block: 35px 40px;

  .caret-left-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .tag-list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 39px;
    align-items: center;
    overflow-x: auto;
  }

  .caret-right-icon {
    align-self: flex-end;
  }
}

.dark-tag-container {
  color: rgba(238, 243, 248, 1);

  .tag-list {
    &::-webkit-scrollbar {
      width: 15px;
    }

    &::-webkit-scrollbar-track {
      background-color: #1c1d3c;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7c7edf;
      border-radius: 10px;
      box-shadow: inset 0 0 0 4px #1c1d3c; // <- "simula" borde interno del thumb
    }
  }
}

@media screen and (max-width: 768px) {
  .tag-container {
    gap: 10px;
    margin-block: 25px 40px;

    // .caret-left-icon {
    //   height: 30px;
    //   width: 30px;
    //   cursor: pointer;
    // }

    .tag-list {
      gap: 10px;
    }
  }
}
