.user-info-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: auto;
  gap: 30px 90px;
}

@media screen and (max-width: 1366px) {
  .user-info-list {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
