<div class="user-logged {{ themeService.getMode() | async }}-user-logged">
  <div (click)="showProfileMenuHandler()" class="user-profile">
    <div
      class="user-profile-img-container"
      [class.is-home-header-img-container]="isHomeView"
    >
      @if (userDetailsData().profilepicture) {
      <img
        [src]="userDetailsData().profilepicture"
        class="user-profile-img"
        alt=""
      />

      } @else {
      <span class="user-profile-first-letter">{{
        userDetailsData().fullname.charAt(0).toUpperCase()
      }}</span>
      }
    </div>

    <span
      class="profile-dropdown-button"
      [class.is-home-header-button]="isHomeView"
      >▼</span
    >
    @if (showProfileMenu) {
    <app-view-profile class="profile-dropdown" />
    }
  </div>
</div>
