.user-logged {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    align-items: center;

    .user-profile {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      position: relative;
      z-index: 1;

      .profile-dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 2;
      }

      .user-profile-img-container {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: solid 1px var(--gray-1);

      

        .user-profile-img {
          width: 100%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }

      .is-home-header-img-container {
        border: solid 1px #B7B7B7;

    }

      .profile-dropdown-button {
        color: var(--purple-2);
        text-align: center;
        font-size: 9px;
        font-weight: 450;
        cursor: pointer;
        user-select: none;
      }

      .is-home-header-button {
        color: #FFF;
      }
    }
  }