<div class="message-container" [class.bot-message-container]="isUserMessage">
  @if(isUserMessage) {
  <div class="user-profile-img-container">
    @if (userData().profilepicture !== '') {
    <img [src]="userData().profilepicture" class="user-profile-img" alt="" />

    } @else {
    <span class="user-profile-first-letter">{{
      userData().fullname.charAt(0).toUpperCase()
    }}</span>

    }
  </div>
  } @if(message) { @if(isUserMessage) {

  <p>
    {{ message }}
  </p>
  } @else {

  <div class="bot-message-response" [innerHTML]="message"></div>
  } }@else {
  <div class="loading-container">
    <p>Aecodito está pensando</p>
    <p class="point-1">●</p>
    <p class="point-2">●</p>
    <p class="point-3">●</p>
  </div>
  }
</div>
