.message-container {
  max-width: calc(933 / 1104 * 100%);
  padding: 5px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 24px;
  width: fit-content;
  background: #1e233a;
  margin: 0;
  border-radius: 6px;
  border: 1px solid rgba(95, 97, 228, 0.31);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(14px);

  .user-profile-img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #fff;
    background-color: var(--purple-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    .user-profile-img {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .user-profile-first-letter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: #fff;
      font-family: "ruberoid-regular";
      font-size: 18px;
    }
  }

  p {
    font-family: "plusjakartasans-light";
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    margin: 0;
  }

  .loading-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    padding-block: 25px;
    color: #8b7bff;

    .point-1 {
      margin-block: auto 2px;
      font-size: 8px;
      color: #ac8ffe;
      margin-inline-start: 5px;
      animation: verticalSlide 1s ease-in-out infinite;
    }

    .point-2 {
      margin-block: auto 2px;
      font-size: 8px;
      color: #8a7bfe;
      animation: verticalSlide 1s ease-in-out infinite;
      animation-delay: 0.15s;
    }

    .point-3 {
      margin-block: auto 2px;
      font-size: 8px;
      color: #8a7bfe;
      animation: verticalSlide 1s ease-in-out infinite;
      animation-delay: 0.3s;
    }
  }
}

@keyframes verticalSlide {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  75% {
    transform: translateY(0);
  }
}

.bot-message-container {
  max-width: calc(740 / 1104 * 100%);
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .message-container {
    padding: 10px 15px;
    line-height: 24px;
  }
}
