<div class="message-container" [class.align-to-end]="isUserMessage">
  @if(isUserMessage) {
  <div class="user-profile-img-container">
    @if (userProfileImg !== '') {
    <img [src]="userProfileImg" class="user-profile-img" alt="" />

    } @else {
    <span class="user-profile-first-letter">{{ userFirstLetterName }}</span>

    }
  </div>
  } @if(message) {

  <markdown [data]="message"></markdown>

  }@else {
  <div class="loading-container">
    <p>Buscando en AECODE</p>
    <p class="point-1">.</p>
    <p class="point-2">.</p>
    <p class="point-3">.</p>
  </div>
  }
</div>
