<section class="home-container">
  <h1 class="home-title">AECODE COMMUNITY</h1>

  <div class="general-container">
    <swiper-container init="false">
      @for (item of videoList; track $index) {
      <swiper-slide>
        <div loading="lazy" class="item">
          <video id="video {{ item.id }}" muted loop>
            <source src="{{ item.video_url }}" type="video/mp4" />
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <div class="green-shadow"></div>
  <div class="blue-shadow"></div>
  <div class="active-slide-shadow"></div>
</section>
