.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(1440px + (87px * 2));
  margin-inline: auto;

  .home-title {
    color: var(--gray-3);
    font-family: "Ruberoid-semibold";
    font-size: clamp(1.25rem, 0.5898rem + 2.8169vw, 3.125rem);
    text-align: center;
    margin-top: calc(100vh / 13);
    padding-top: 123px;
  }

  .general-container {
    height: auto;
    position: relative;
    flex: 1;
  }

  swiper-container {
    background-color: #0e1121;
    height: 100%;
  }

  swiper-container::part(button-prev) {
    position: absolute;
    z-index: 2;
    margin-top: 11%;
    margin-left: 35%;
    color: var(--gray-3);
  }

  swiper-container::part(button-next) {
    position: absolute;
    z-index: 2;
    margin-top: 11%;
    margin-right: 35%;
    color: var(--gray-3);
  }

  .transparent-bg-right {
    background-color: #0e1121;
    position: absolute;
    width: 87px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .transparent-bg-left {
    background-color: #0e1121;
    position: absolute;
    width: 87px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .item {
    width: 210px;
    height: 230px;
    background-color: #ccc;
    margin-inline: auto;
    border-radius: 5%;
    margin-top: 20%;
    transition: all 0.5s ease;
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid var(--dark-lineas, #7c7edf);

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  swiper-slide.active-slide .item {
    transform: scale(1.2);
  }

  .swiper-slide-active .item {
    width: 100%;
    height: 275px;
    margin-top: 20%;
  }

  .swiper-slide-prev .item {
    margin-top: 45%;
  }

  .swiper-slide-next .item {
    margin-top: 45%;
  }
}
