<section class="home-container">
  <h1 class="home-title">AECODE COMMUNITY</h1>

  <div class="general-container">
    <swiper-container
      loop="true"
      navigation="true"
      slides-per-view="5"
      centered-slides="true"
      autoplay='{"delay": 3000}'
      spaceBetween="100"
    >
      <swiper-slide>
        <div loading="lazy" class="item"></div>
      </swiper-slide>

      <swiper-slide>
        <div loading="lazy" class="item"></div>
      </swiper-slide>

      <swiper-slide>
        <div loading="lazy" class="item"></div>
      </swiper-slide>

      <swiper-slide>
        <div loading="lazy" class="item"></div>
      </swiper-slide>

      <swiper-slide>
        <div loading="lazy" class="item"></div>
      </swiper-slide>

      <swiper-slide>
        <div loading="lazy" class="item"></div>
      </swiper-slide>
    </swiper-container>

    <div class="transparent-bg-right"></div>
    <div class="transparent-bg-left"></div>
  </div>
</section>
