.shop-cart-item-container {
  padding: 16px 20px;

  .shop-cart-item-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--purple-2);
    font-family: "plusjakartasans-semibold";
    font-size: 24px;
    padding: 20px;
    margin: 0;
    border-radius: 6px;
    border: 1px solid white;
    background: #eef3f8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);
    margin-bottom: 18px;
  }

  .shop-cart-item-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 30px;
    background: var(--Gris-3, #eef3f8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.19);

    .shop-cart-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 22px;

      .shop-cart-item-img {
        width: 181px;
      }

      .shop-cart-item-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}
