<div
  class="shop-cart-item {{ themeService.getMode() | async }}-shop-cart-item "
>
  <img class="shop-cart-item-img" src="{{ cartItem.principalimage }}" alt="" />

  <div class="shop-cart-item-info">
    <span class="shop-cart-item-title">{{ cartItem.title }}</span>

    <div class="shop-cart-item-details">
      <span class="shop-cart-item-info-box">
        <app-course-session-icon />
        {{ cartItem.module }}
      </span>
      <span class="shop-cart-item-info-box">
        @switch (cartItem.mode) { @case ('SINCRONO') {
        <app-coming-soon-course-icon class="icon" />
        PRÓXIMO } @case ('EN_VIVO') {
        <app-sync-course-icon class="icon" />
        EN VIVO } @case ('ASINCRONO') {
        <app-async-course-icon class="icon async-icon" />
        ASINCRÓNICO } }
      </span>
    </div>

    <div class="shop-cart-item-extra-info">
      <span class="shop-cart-item-info-box-2">
        <app-watch-icon /> @if (cartItem.mode === 'ASINCRONO') { DISPONIBLE 24/7
        } @else { INICIO:
        {{ cartItem.startDate | dateFormat }}
        }
      </span>

      <span class="shop-cart-item-info-box-2">
        <app-course-session-icon />
        CERTIFICADO POR {{ cartItem.certificateHours }} HRS
      </span>
    </div>
  </div>

  <div class="shop-cart-item-container">
    <div class="shop-cart-item-price">
      @if(cartItem.isOnSale) {
      <p>
        $
        {{ cartItem.promptPaymentPrice }}
      </p>
      <p class="shop-cart-item-regular-price">
        $
        {{ cartItem.priceRegular }}
      </p>
      } @else {
      <p>
        $
        {{ cartItem.priceRegular }}
      </p>
      }
    </div>

    <div class="shop-cart-item-icons">
      @if(!cartItem.isSelectedinCart) {
      <app-cart-input-icon class="check-cart-icon" (click)="checkCartItem()" />
      } @else {
      <app-cart-input-selected-icon
        class="check-cart-icon"
        (click)="checkCartItem()"
      />
      }
      <app-delete-icon class="delete-cart-icon" (click)="removeCartItem()" />
    </div>
  </div>
</div>
