<div class="shop-cart-item-container">
  <h2 class="shop-cart-item-subtitle">
    PROGRAMA: PYTHON APLICADO A LA INGENIERÍA CIVIL @if(dropdown) {
    <app-caret-down-icon-light />
    }@else {
    <app-caret-up-icon-light />
    }
  </h2>

  <div class="shop-cart-item-content">
    <div class="shop-cart-item">
      <img
        class="shop-cart-item-img"
        src="https://imgs.search.brave.com/Gah9B2p6HqB4m6wqNgFQdgl2-p34TJeLbdOzJNR4zPQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jbGlw/YXJ0LWxpYnJhcnku/Y29tL25ld19nYWxs/ZXJ5LzM0MS0zNDE0/OTUwX3B5dGhvbi1s/b2dvLWFuZC1hcmR1/aW5vLTV2LXRvLTMt/My12LnBuZw"
        alt=""
      />

      <div class="shop-cart-item-info">
        <h3>Python aplicado a la Ingeniería Civil avanzado</h3>

        <div>
          <span>
            <app-course-session-icon />
            Módulo 2
          </span>
          <span>
            <app-async-course-icon />
            Asincrónico
          </span>
        </div>

        <div>
          <span> <app-watch-icon /> ACCESO: 24/7 </span>

          <span>
            <app-course-session-icon />
            CERTIFICADO POR 20 HRS
          </span>
        </div>
      </div>

      <div class="shop-cart-item-price">$250</div>

      <input type="text" />
    </div>
  </div>
</div>
