<div class="community-container">
  @if(!isMobile) {
  <app-community-header
    (collabsButtonSelected)="collabsButtonSelected = $event"
  />

  <app-community-home id="home" />

  <app-main-container>
    <app-community-collaborators
      [collabsButtonSelected]="collabsButtonSelected"
      id="collabs"
    />
    <app-community-partners id="partners" />
  </app-main-container>

  <app-home-footer />

  } @else {
  <app-content-blocked
    [isMessageTypeSuccess]="false"
    [message]="mobileMessage"
    [title]="mobileTitle"
    [isOpen]="true"
    [hasBackButton]="true"
  />
  }
</div>
