.payment-title {
  margin-block: 26px 22px;
  color: #381187;
  font-family: "Ruberoid-medium";
  font-size: 18px;
}
.payment-message {
  font-family: "plusjakartasans-medium";
  margin-block: 50px 30px;
  text-align: center;
}

.dark-payment-title {
  color: #eef3f8;
}
