<div class="edit-profile-container">
  <app-profile-section-box [boxTitle]="'Editar Información personal'">
    <div class="user-info-list">
      @for (item of personalInformationList; track $index) {
      <div class="user-info-item">
        <label for="">{{ item.title }}</label>
        <input type="text" placeholder="{{ item.value }}" />
      </div>

      }
    </div>
  </app-profile-section-box>

  <app-profile-section-box [boxTitle]="'Editar Información profesional'">
    <div class="user-info-list">
      @for (item of professionalInformationList; track $index) {
      <div class="user-info-item">
        <label for="">{{ item.title }}</label>
        <input type="text" placeholder="{{ item.value }}" />
      </div>

      }
    </div>
  </app-profile-section-box>

  <app-profile-section-box [boxTitle]="'Seguridad'">
    <div class="user-info-list">
      @for (item of userSecurityList; track $index) {
      <div class="user-info-item">
        <label for="">{{ item.title }}</label>
        <input type="text" placeholder="{{ item.value }}" />
      </div>

      }
    </div>
  </app-profile-section-box>

  <app-profile-section-box [boxTitle]="'Estado activo'">
    <div class="user-status-container">
      <p>
        <span><app-active-status-icon /> Activo</span> Tu cuenta está activa y
        funcionando correctamente
      </p>

      <div class="status-buttons">
        <button>Guardar cambios</button>
        <button>Cancelar</button>
      </div>
    </div>
  </app-profile-section-box>
</div>
