<div class="edit-profile-container">
  <app-profile-section-box [boxTitle]="'Editar Información personal'">
    <div class="user-info-list">
      @for (item of personalInformationList; track $index) {
      <div class="user-info-item">
        <label for="">{{ item.title }}</label>
        <input type="text" placeholder="{{ item.value }}" />
      </div>

      }
    </div>
  </app-profile-section-box>

  <app-profile-section-box [boxTitle]="'Editar Información personal'">
    <div class="user-info-list">
      @for (item of professionalInformationList; track $index) {
      <div class="user-info-item">
        <label for="">{{ item.title }}</label>
        <input type="text" placeholder="{{ item.value }}" />
      </div>

      }
    </div>
  </app-profile-section-box>

  <app-profile-section-box [boxTitle]="'Editar Información personal'">
    <div class="user-info-list">
      @for (item of userSecurityList; track $index) {
      <div class="user-info-item">
        <label for="">{{ item.title }}</label>
        <input type="text" placeholder="{{ item.value }}" />
      </div>

      }
    </div>
  </app-profile-section-box>
</div>
