<div class="course-detail-container">
  <div class="course-detail-content">
    <div class="course-aside">
      <div class="course-title">
        <span class="course-name">{{ course.title }}:</span>
        <span class="course-words"
          >@if (course_id === 1) { Innovación, Digitalización y Automatización }
          @else if (course_id === 2) {Aplicado a la Ingeniería Civil}</span
        >
      </div>

      @if (!isUserLogged) {
      <app-button (click)="playCourseVideo()" class="button-start-here">
        ¡COMIENZA AQUÍ!
      </app-button>
      }

      <aside class="course-details-aside">
        @for (module of course.modules; track module.moduleId) {
        <app-course-module [module]="module" />
        }
      </aside>
    </div>

    <main class="course-content">
      <div class="course-header" *ngIf="isUserLogged">
        <div class="first-header-group">
          <app-house-icon class="home-icon" />
          <app-caret-right-icon class="caret-r-icon" />
          <span class="course-session-module">MODULO {{ module_id }}</span>
          <app-caret-right-icon class="caret-r-icon" />
          <span class="course-session-title">{{
            courseSessionSubject.title
          }}</span>
        </div>

        <div class="second-header-group">
          <div class="second-header-button">
            <app-prev-icon class="second-header-icon" />
            <span>Anterior</span>
          </div>

          <div class="second-header-button">
            <span>Siguiente</span>
            <app-next-icon class="second-header-icon" />
          </div>
        </div>
      </div>

      <div class="course-options" *ngIf="!isUserLogged">
        <app-button>
          <a href="https://aecodemap.my.canva.site/" target="_blank"
            >BROCHURE</a
          >
        </app-button>
        <app-button>
          <a href="https://aecodemap.my.canva.site/" target="_blank">ROADMAP</a>
        </app-button>
        <app-button> DESBLOQUEAR </app-button>
      </div>

      <app-youtube-player
        [unit_url_video]="courseSessionSubject.videoUrl"
        [session_id]="courseSessionSubject.sessionId"
        [course_intro_video]="courseIntroVideo"
      />

      <div class="buttons-container" *ngIf="!isUserLogged">
        <app-button> ¿Qué aprenderemos hoy? </app-button>

        <app-button> Acceso al material de clase </app-button>
      </div>

      <div class="course-class-details" *ngIf="isUserLogged">
        <div class="header">
          <div class="header-items">
            <span
              (click)="isDescription = true"
              [ngClass]="isDescription ? 'selected' : ''"
              >Descripción</span
            >
            <span
              (click)="isDescription = false"
              [ngClass]="!isDescription ? 'selected' : ''"
              >Recursos</span
            >
          </div>

          <div class="translate">
            <span>Traducir texto: Inglés</span>
            <app-caret-down-icon class="caret-icon" />
          </div>
        </div>
        <div class="separator"></div>
        <div class="detail-text">
          @if(isDescription) {

          <div [innerHTML]="courseSessionSubject.htmlContent"></div>

          } @else {

          <h2 class="resource-title">Archivos de la clase</h2>
          <a
            *ngIf="courseSessionSubject.resourceDocument"
            class="resource-items"
            [href]="apiUrl + courseSessionSubject.resourceDocument"
            target="_blank"
          >
            <app-pdf-icon class="first-icon" />
            <p>
              {{ courseSessionSubject.resourceDocument }}
            </p>
            <app-download-icon class="last-icon" />
          </a>
          <p
            *ngIf="!courseSessionSubject.resourceDocument"
            class="resource-items"
          >
            ¡Recurso no disponible!
          </p>

          <div class="separator"></div>

          <h2 class="resource-title">Materiales de Apoyo</h2>
          <a
            class="resource-items"
            href="{{ courseSessionSubject.taskUrl }}"
            target="_blank"
          >
            <app-world-icon class="first-icon" />
            <p>
              @if (courseSessionSubject.taskName) {
              {{ courseSessionSubject.taskName }}} @else { Material no
              disponible! }
            </p>
            <app-link-icon class="last-icon" />
          </a>
          }
        </div>
      </div>
    </main>
  </div>
</div>

<app-modal (isClosed)="showBlockedModal = $event" [isOpen]="showBlockedModal">
  <app-content-blocked (isClosed)="showBlockedModal = $event" />
</app-modal>
