.course-detail-container {
  width: 100%;
  color: var(--purple-2);
  font-family: "ruberoid-medium";
  font-size: 16px;

  .course-detail-content {
    max-width: 1440px;
    padding: 20px 30px;
    margin-inline: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;

    .course-details-aside {
      border-radius: 6px;
      overflow: hidden;
      border: 1px solid #cad5da;
      border-bottom: none;

      .button-start-here {
        width: 100%;
      }
    }

    .course-aside {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;

      .course-title {
        display: flex;
        flex-flow: column nowrap;

        .course-name {
          font-size: 20px;
          font-family: "ruberoid-semibold";
          color: var(--purple-2);
          text-transform: uppercase;
        }

        .course-words {
          font-size: 16px;
          font-family: "ruberoid-medium";
          color: var(--purple-3);
        }
      }
    }

    .course-content {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      gap: 25px;
      padding-top: 15px;

      .course-options {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-self: flex-end;
        gap: 60px;

        a {
          text-decoration: none;
          color: white;
        }
      }

      .course-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .first-header-group {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 16px;

          .home-icon {
            width: 18px;
            height: 18px;
          }

          .caret-r-icon {
            width: 9.073px;
            height: 15px;
          }

          span {
            line-height: 24px;
          }
        }

        .second-header-group {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 35px;
          color: var(--gray-2);

          .second-header-button {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 6px;
            cursor: pointer;

            .second-header-icon {
              width: 7.748px;
              height: 12px;
              display: flex;
              align-items: center;
              fill: var(--gray-2);
            }
          }
        }
      }

      .buttons-container {
        margin-top: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
      }

      .course-class-details {
        display: flex;
        flex-flow: column nowrap;
        gap: 22px;

        .header {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          justify-content: space-between;

          .header-items {
            display: flex;
            flex-flow: row nowrap;
            gap: 70px;

            span {
              color: #636364;
              cursor: pointer;

              &:hover {
                color: (var(--purple-2));
              }
            }

            .selected {
              color: var(--purple-2);
            }
          }

          .translate {
            display: flex;
            gap: 12px;
            align-items: center;

            .caret-icon {
              width: 7.748px;
              height: 12px;
              display: flex;
              align-items: center;
            }
          }
        }

        .separator {
          width: 100%;
          height: 1px;
          background-color: black;
        }

        .detail-text {
          font-family: "plusjakartasans-light";
          font-size: 14px;
          color: black;

          span {
            font-family: "plusjakartasans-medium";
            color: #381187;
          }
        }
      }
    }
  }
}
