.masive-course-container {
  width: 100%;
  max-width: 1155px;
  padding: 32px 65px 0 0;
  font-family: "plusjakartasans-medium";
  font-size: 16px;

  .masive-course-title {
    margin: 0;
    font-family: "ruberoid-semibold";
    font-size: 57px;
    color: var(--purple-2);
  }

  .masive-course-subtitle {
    margin: 0 0 24px 0;
    font-family: "ruberoid-semibold";
    font-size: 18px;
    color: #7837dd;
  }

  .text-container {
    height: fit-content;
    padding: 20px 25px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid#fff;
    background: #eef3f8;
    box-shadow: 0px 0px 5px 2px rgba(120, 55, 221, 0.1);

    .masive-course-module-subtitle {
      padding: 12px 20px;
      margin: 0 0 25px 0;
      font-family: "plusjakartasans-bold";
      text-transform: uppercase;
      color: white;
      border-radius: 6px;
      background: var(--purple-2);
      font-size: 20px;
    }

    span {
      font-size: 20px;
      color: var(--purple-2);
      font-family: "plusjakartasans-bold";
    }

    ul {
      padding-inline: 20px;
    }
  }

  .course-detail-container {
    width: 100%;
    color: var(--purple-2);
    font-family: "ruberoid-medium";
    font-size: 16px;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 6px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 2px rgba(120, 55, 221, 0.1);
    padding: 30px 20px;

    .course-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-bottom: 35px;

      .first-header-group {
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;

        .home-icon {
          width: 18px;
          height: 18px;
          margin-top: 2px;
          flex-shrink: 0;
        }

        .caret-r-icon {
          width: 9.073px;
          height: 15px;
          margin-top: 2px;
          flex-shrink: 0;
        }

        .course-session-module {
          line-height: 24px;
          flex-shrink: 0;
        }

        .course-session-title {
          display: flex;
          flex-flow: row nowrap;
          flex-shrink: 1;
          height: auto;
        }
      }

      .second-header-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 35px;
        color: var(--gray-2);

        .second-header-button {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 6px;
          cursor: pointer;

          .second-header-icon {
            width: 7.748px;
            height: 12px;
            display: flex;
            align-items: center;
            fill: var(--gray-2);
          }
        }
      }
    }

    .course-detail-content {
      max-width: 1440px;
      margin-inline: auto;
      display: grid;
      grid-template-columns: 373px auto;
      grid-template-rows: auto auto;
      gap: 30px 15px;

      .course-details-aside {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-flow: column nowrap;
        padding: 12px 20px 12px 12px;
        border-radius: 6px;
        overflow-y: auto;
        max-height: 380px;
        gap: 5px;
        border-radius: 6px;
        border: 1px solid var(--Gris-lineas, #cad5da);
        background: rgba(255, 255, 255, 0);
      }

      .course-content {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 25px;
      }

      .course-price-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-family: "plusjakartasans-semibold";

        .original-price {
          width: 40px;
          height: 24px;
          color: black;
          font-size: 16px;
          text-decoration: line-through;
          margin-bottom: 5px;
        }

        .discounted-price {
          width: 123px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          border: 1px solid var(--purple-2);
          background: var(--purple-2);
          color: white;
          text-align: center;
          text-decoration: none;
        }
      }

      .course-class-details {
        display: flex;
        flex-flow: column nowrap;
        gap: 22px;

        .header {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          justify-content: space-between;

          .header-items {
            display: flex;
            flex-flow: row nowrap;
            gap: 70px;

            span {
              color: #636364;
              cursor: pointer;

              &:hover {
                color: (var(--purple-2));
              }
            }

            .selected {
              color: var(--purple-2);
            }
          }

          .translate {
            display: flex;
            gap: 12px;
            align-items: center;
            color: var(--gray-2);

            .caret-icon {
              width: 7.748px;
              height: 12px;
              display: flex;
              align-items: center;
              fill: var(--gray-2);
            }
          }
        }

        .details-separator {
          width: 100%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.5);
          position: relative;

          .option-chosen {
            width: 50%;
            height: 100%;
            background-color: black;
            position: absolute;
            top: 0;
            z-index: 1;
            opacity: 1;
          }

          .first-option {
            left: 0;
          }
          .second-option {
            right: 0;
          }
        }

        .detail-text {
          padding: 0 26px 0 12px;
          font-family: "plusjakartasans-light";
          font-size: 14px;
          color: black;

          span {
            font-family: "plusjakartasans-medium";
            color: #381187;
          }

          .resource-title {
            font-family: "ruberoid-bold";
            color: var(--purple-2);
            font-size: 1.25rem;
          }

          .separator {
            border-top: 1px solid #cad5da;
          }

          .resource-items {
            font-family: "plusjakartasans-medium";
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: black;

            .first-icon {
              margin-right: 10px;
            }

            .last-icon {
              margin-left: auto;
            }
          }
        }
      }

      .course-class-details-user-logged {
        grid-column: 1 / -1;
      }
    }
  }

  .module-title {
    width: 100%;
    padding: 12px 40px;
    margin: 0 0 30px 0;
    font-family: "plusjakartasans-bold";
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    border-radius: 6px;
    background: var(--purple-2);
  }
}

@media screen and (max-width: 768px) {
  .masive-course-container {
    padding: 32px 0 120px 0;
    font-size: 14px;

    .masive-course-title {
      font-size: 30px;
    }

    .masive-course-subtitle {
      margin: 0 0 9px 0;
      font-size: 14px;
    }

    .text-container {
      padding: 13px 10px;
      margin-bottom: 25px;

      .masive-course-module-subtitle {
        padding: 7px 5px;
        margin: 0 0 20px 0;
        border-radius: 4px;
        font-size: 14px;
      }

      span {
        font-size: 16px;
      }

      ul {
        padding-inline: 20px;
      }
    }

    .course-detail-container {
      font-size: 14px;
      margin-bottom: 22px;
      padding: 16px 12px;

      .course-header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding-bottom: 12px;
        gap: 16px;

        .first-header-group {
          width: 100%;
          flex-flow: row nowrap;
          gap: 12px;

          .home-icon {
            display: none;
          }

          .caret-r-icon {
            margin-top: 4px;
          }

          .course-session-title {
            flex: 1;
            align-items: center;
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .course-detail-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 19px;

        .course-details-aside {
          max-height: 347px;
          padding: 12px 11px;
          gap: 26px;
          grid-row: 2;
        }

        .course-price-container {
          order: 3;
        }

        .course-class-details {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          gap: 20px;
          padding-inline: 15px;

          .header {
            .header-items {
              width: 100%;
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;

              span {
                text-align: center;
                width: 50%;
              }

              .selected {
                color: var(--purple-2);
              }
            }

            .translate {
              display: none;
              gap: 12px;
              align-items: center;
              color: var(--gray-2);

              .caret-icon {
                width: 7.748px;
                height: 12px;
                display: flex;
                align-items: center;
                fill: var(--gray-2);
              }
            }
          }

          .detail-text {
            padding: 0px;

            .resource-title {
              margin-top: 0;
              font-size: 1.25rem;
            }

            .separator {
              border-top: 1px solid #cad5da;
              margin-block: 16px;
            }

            .resource-items {
              margin: 0;
            }
          }
        }

        .course-class-details-user-logged {
          grid-column: 1 / -1;
        }
      }
    }

    .module-title {
      padding: 7px 10px;
      margin: 0 0 20px 0;
      border-radius: 4px;
      font-size: 14px;
    }
  }
}
