<app-login-form />
<div class="login-container">
  <div class="login-content">
    <img class="login-logo" src="/assets/images/aecode-logo.webp" alt="" />

    <span class="login-title">ECOSISTEMA DIGITAL 4.0</span>

    <video
      class="login-video"
      autoplay
      muted
      loop
      src="/assets/images/login-view/robot-video.webm"
    ></video>

    <span class="login-subtitle">Descubre como AECODE puede servirte</span>

    <a class="sendbar" href="https://aecodemap.my.canva.site/" target="_blank">
      <div class="sendbar-text">
        <img src="/assets/images/login-view/brain-img.svg" alt="Brain image" />
        <span>Soy estudiante de x ciclo y me interesa el BIM, Python...</span>
      </div>
      <div class="send-icon-container">
        <app-send-icon />
      </div>
    </a>
  </div>

  <app-social-media />
</div>
