<div class="login-container">
  <div class="login-content">
    <img class="login-logo" src="/assets/images/aecode-logo.webp" alt="" />

    <span class="login-title">ECOSISTEMA DIGITAL 4.0</span>

    <video
      class="login-video"
      autoplay
      muted
      loop
      src="/assets/images/login-view/robot-video.webm"
    ></video>

    <span class="login-subtitle">Descubre como AECODE puede servirte</span>

    <button class="sendbar">
      <div class="sendbar-text">
        <img src="/assets/images/login-view/brain-img.svg" alt="Brain image" />
        <input
          type="text"
          placeholder="¡Escribe aquí cualquier duda que tengas!"
          id="message-input"
        />
      </div>
      <div class="send-icon-container" (click)="sendMessage()">
        <app-send-icon />
      </div>
    </button>
  </div>

  <app-social-media (isOpen)="openModal = $event" />
</div>

<app-modal [isOpen]="openModal">
  <app-course-list (openModal)="openModal = $event" />

  <!-- <app-content-blocked (isClosed)="openModal = $event" /> -->
  <!-- <app-confirmation  (isClosed)="openModal = $event"/> -->
</app-modal>

<app-modal [isOpen]="openForm">
  <app-form (openModal)="openForm = $event" [userMessage]="userMessage" />
</app-modal>
