<main class="main-container">
  <div class="title-container">
    <h1 class="main-title">LA ESENCIA DE LA INNOVACIÓN COMIENZA AQU´I</h1>
    <div FadeOut class="punto-container">
      <div class="punto"></div>
    </div>
  </div>

  <app-platform-course-list />

  <div class="search-container">
    <app-search-tool-icon class="search-tool-icon" />
    <input
      class="search-input"
      type="text"
      placeholder="¿Qué buscamos?"
      (input)="onSearch($event)"
    />
    <app-course-search-icon class="search-icon" />
  </div>

  <div class="course-main-list">
    <app-course-list
      (filterMode)="filterValue = $event"
      (filterMode)="filterByMode($event)"
      [secondaryCourseList]="filteredCoursesList"
    />
  </div>
</main>
