<main class="main-container">
  <div class="title-container">
    <h1 class="main-title">¿Qué aprenderemos hoy?</h1>
    <div FadeOut class="punto-container">
      <div class="punto"></div>
    </div>
  </div>

  <div class="search-container">
    <app-search-tool-icon class="search-tool-icon" />
    <input class="search-input" type="text" placeholder="¿Qué buscamos?" />
    <app-course-search-icon class="search-icon" />
  </div>

  <app-platform-course-list />

  <div class="course-main-list">
    @for (courseListItem of coursesList; track courseListItem) {
    <app-course-list
      [listTitle]="courseListItem.name"
      [secondaryCourseList]="courseListItem.list"
    />

    }
  </div>
</main>
