<main
  class="main-container {{ themeService.getMode() | async }}-main-container "
>
  <div class="title-container">
    <h1 class="main-title" [class.title-animation]="animate">
      La esencia de la innovación comienza aquí
    </h1>
    <div class="punto-container" [class.punto-animation]="animate">
      <div class="punto" [class.punto-fade-out]="animateFadeOut"></div>
    </div>
  </div>

  <app-platform-course-list />

  <div class="search-container">
    <app-search-tool-icon class="search-tool-icon" />
    <input
      class="search-input"
      type="text"
      placeholder="¿Qué buscamos?"
      (input)="onSearch($event)"
    />
    <app-course-search-icon class="search-icon" />
  </div>

  <div class="course-main-list">
    <app-course-list
      (filterMode)="filterByMode($event)"
      [secondaryCourseList]="filteredCoursesList"
      [paginatorPages]="paginatorPages"
      (nextPage)="paginateCourseList($event)"
      (changePage)="setPaginatorPage($event)"
      [currentPage]="currentPage"
    />
  </div>
</main>
