*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --gray-1: #b4bbbf;
  --gray-2: #e4e4e4;
  --gray-3: #eff9fe;
  --orange-1: #7a3717;
  --orange-2: #ce7b2d;
  --orange-3: #e4a025;
  --yellow-1: #e9c31e;
  --yellow-2: #ebd417;
  --yellow-3: #ece956;
  --green-1: #115e32;
  --green-2: #3d813f;
  --green-3: #8bc751;
  --green-4: #bed747;
  --sky-blue-1: #0066a6;
  --sky-blue-2: #2484c6;
  --sky-blue-3: #33a3dc;
  --blue-1: #14257c;
  --blue-2: #203aa5;
  --blue-3: #3659c9;
  --purple-1: #2a1d68;
  --purple-2: #381187;
  --purple-3: #4a3ac1;
  --purple-4: #7837dd;
  --purple-5: #8c97dc;
}

@font-face {
  font-family: "ruberoid-light";
  src: url("assets/fonts/Ruberoid/Ruberoid-Light.otf") format("opentype");
}

@font-face {
  font-family: "ruberoid-medium";
  src: url("assets/fonts/Ruberoid/Ruberoid-Medium.otf") format("opentype");
}

@font-face {
  font-family: "ruberoid-regular";
  src: url("assets/fonts/Ruberoid/Ruberoid-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ruberoid-semibold";
  src: url("assets/fonts/Ruberoid/Ruberoid-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "ruberoid-extrabold";
  src: url("assets/fonts/Ruberoid/Ruberoid-Bold.otf") format("opentype");
}

@font-face {
  font-family: "ruberoid-bold";
  src: url("assets/fonts/Ruberoid/Ruberoid-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "plusjakartasans-extralight";
  src: url("assets/fonts/Plus-Jakarta/PlusJakartaSans-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-light";
  src: url("assets/fonts/Plus-Jakarta/PlusJakartaSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-medium";
  src: url("assets/fonts/Plus-Jakarta/PlusJakartaSans-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-regular";
  src: url("assets/fonts/Plus-Jakarta/PlusJakartaSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-semibold";
  src: url("assets/fonts/Plus-Jakarta/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-bold";
  src: url("assets/fonts/Plus-Jakarta/PlusJakartaSans-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "plusjakartasans-extrabold";
  src: url("assets/fonts/Plus-Jakarta/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.toast-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Cambia aquí el tipo de letra */
}

.toast {
  font-size: 14px; /* Tamaño del texto */
  line-height: 1.5; /* Altura de línea */
}

/* .toast-title{}
.toast-message{} */

/* DARK MODE */

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #0e1121;
  color: white;
}

.bot-message-response {
  color: #f5f5f5;
  font-family: "plusjakartasans-light";
  font-size: 14px;

  hr {
    border: none;
    border-top: 1px solid rgba(75, 71, 138, 0.49);
  }

  p {
    font-style: italic;
  }

  section {
    h1 {
      font-family: "plusjakartasans-bold";
      font-size: 16px;
      line-height: 32px; /* 200% */
    }

    h2 {
      font-family: "plusjakartasans-medium";
      font-size: 16px;
      font-weight: normal;
      line-height: 25px; /* 156.25% */
    }

    p {
      margin-block: 5px 15px;
      line-height: 25px; /* 178.571% */
      color: #eae9e9;
      font-style: normal;
    }

    li {
      line-height: 25px; /* 178.571% */
      color: #eae9e9;

      strong {
        font-family: "plusjakartasans-medium";
        font-size: 16px;
        font-weight: normal;
      }
      h2 {
        margin-block: 15px 0;
      }

      p {
        margin-block: 0px 5px;
      }
    }

    ul,
    ol {
      padding-inline-start: 25px;
    }

    p:last-child {
      font-style: italic;
    }
  }
}
