.user-info-container {
  border-radius: 10px;
  border: 1.5px solid rgba(140, 151, 220, 0.3);
  box-shadow: 0px 2.84px 23.43px -2.84px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15.97499942779541px);
  padding: 33px 24px;

  h2 {
    color: #eef3f8;
    font-family: "ruberoid-regular";
    font-size: 18px;
    margin-block: 0 30px;
  }
}
