<div class="table-wrapper">
  <table class="admin-table-container">
    <thead>
      <tr>
        <th></th>
        @for (header of dataHeaders; track header) {
        <th>{{ header }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of dataList; track getItem(item)) {
      <tr>
        <td class="option-data">
          <div
            (click)="openOptions(getItem(item), $event)"
            class="option-button"
          >
            <app-options-icon />

            @if (showOptionsMap[getItem(item)]) {
            <div class="option-dropdown">
              <span (click)="editItem(getItem(item))">Editar</span>
              <span (click)="deleteItem(getItem(item))">Eliminar</span>
            </div>
            }
          </div>
        </td>

        @for (key of objectKeys(item); track key) {
        <td>{{ item[key] }}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

<app-modal (isClosed)="showModalForm = $event" [isOpen]="showModalForm">
  <app-table-form
    (isClosed)="showModalForm = $event"
    [updateForm]="updateForm"
    [itemId]="itemId"
  />
</app-modal>
