<div class="course-platform-list-container">
  <div class="shadow-effect" hidden></div>

  <div class="masive-course-list-containaer">
    <swiper-container id="platform-courses-swiper" init="false">
      @if (this.courseList().length > 2) { @for (item of courseList(); track
      $index) { @for (masiveCourseItem of courseList(); track masiveCourseItem)
      {
      <swiper-slide>
        <app-course-item [course]="masiveCourseItem" [isMasiveCourse]="true" />
      </swiper-slide>
      } } }
    </swiper-container>

    <button class="swiper-btn swiper-button-prev">
      <app-angle-left-icon class="icon" />
    </button>
    <button class="swiper-btn swiper-button-next">
      <app-angle-right-icon class="icon icon-right" />
    </button>
  </div>
</div>
