<app-user-profile-layout (itemIndexSelected)="currentView = $event">
  @switch (currentView) { @case (0) {
  <app-user-profile />

  } @case (1) {
  <!-- <app-edit-profile /> -->
  <app-section-profile-in-progress />

  } @case (2) {
  <app-user-courses />

  } @case (3) {
  <app-section-profile-in-progress />

  }@case (4) {
  <app-section-profile-in-progress />

  }}
</app-user-profile-layout>

<app-modal [isOpen]="showMessageModal" (isClosed)="showMessageModal = $event">
  @if (showChangePasswordError) {
  <app-message
    title="¡Oh no, un error!"
    message="Las contraseñas no coinciden"
    (isClosed)="showMessageModal = $event"
  />
  }@else { @if(dataUpdated){
  <app-message
    title="¡Felicidades!"
    message="Tus datos fueron actualizados correctamente"
    (isClosed)="showMessageModal = $event"
    (isClosed)="dataUpdated = $event"
  />
  } @else {
  <app-message
    title="¡Felicidades!"
    message="Tu contraseña fue actualizada correctamente"
    (isClosed)="showMessageModal = $event"
  />
  } }
</app-modal>
