<div class="profile-menu {{ themeService.getMode() | async }}-profile-menu">
  <div class="profile-header">
    <div class="profile-info">
      <h2>{{ userData().fullname }}</h2>
    </div>
  </div>
  <div class="linea"></div>

  <ul class="menu-options">
    <li (click)="redirectToProfile()">
      <app-profile-menu-icon />
      <span>Perfil</span>
    </li>
    @if (userData().rol ==='admin') {
    <li (click)="redirectToAdminView()">
      <app-management-menu-icon />
      <span>Administrar y Gestionar</span>
    </li>
    }

    <li (click)="logOut()">
      <app-logout-menu-icon />
      <span>Cerrar sesión</span>
    </li>
  </ul>
</div>
