/* Contenedor principal del menú de perfil */
.profile-menu {
  max-width: 314px;
  width: 100%;
  border-radius: 6px;
  background: var(--Blanco, #fff);
  padding: 25px;
  border: 1px solid #e0e0e0;
  color: #000;

  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .user-profile-img-container {
      width: 62px;
      width: 62px;
      border-radius: 50%;
      border: solid 1px var(--gray-1);
      display: flex;

      .profile-img {
        height: 100%;
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }
    }

    .profile-info {
      margin-inline-start: 10px;
    }
  }
}

.profile-info h2 {
  margin: 0;
  font-size: 18px;
  font-family: "ruberoid-semibold";
}

.profile-info p {
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  font-family: "plusjakartasans-light";
}

.linea {
  width: 314px;
  height: 1px;
  position: relative;
  background: #cad5da;
  display: flex;
  align-items: flex-start;
  right: 25px;
}

.menu-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-options li {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 5px;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.menu-options li:hover {
  background-color: #f3f3f3;
}

.menu-options span {
  font-family: "ruberoid-medium";
  font-size: 14px;
}

.dark-profile-menu {
  background: #0d0f1f;
  color: #eef3f8;
  border: 1px solid #3a4065;

  .menu-options li:hover {
    background-color: transparent;
  }

  .linea {
    background: #3a4065;
  }
}

@media screen and (max-width: 768px) {
  .profile-menu {
    width: 238px;
    padding: 25px 20px;
  }

  .profile-header {
    margin-bottom: 15px;

    .user-profile-img-container {
      width: 40px;
      height: 40px;
    }
  }

  .profile-info h2 {
    font-size: 14px;
  }

  .profile-info p {
    font-size: 14px;
  }

  .linea {
    width: 100%;
    height: 1px;
  }

  .menu-options li {
    padding: 9px 0;
  }

  svg {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }

  .menu-options span {
    font-size: 14px;
  }
}
